.ba__admin-table-scroll li{
	cursor: pointer;
}


#cssmenu,#cssmenu ul,#cssmenu li,#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 23px;
    position: relative;
    color: #8A939C;
}

#cssmenu {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#cssmenu a:hover {
    color: #ed6c44;
}

#cssmenu a {
    line-height: 1.3;
}

#cssmenu>ul>li:hover {
    background: #ffffff;
}

#cssmenu>ul>li>a {
    font-size: 22px;
    display: block;
    background: #ffffff;
}

#cssmenu>ul>li>a>span {
    display: block;
    padding: 15px 0 15px 15px;
    font-size: 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#cssmenu>ul>li>a>span i {
    right: 0;
}

#cssmenu>ul>li>a:hover {
    background: #fafafa;
    color: #ed6c44;
}

#cssmenu>ul>li>a:active {
    background: #ffffff;
}

#cssmenu>ul>li.active:hover {
    cursor: none;
}

#cssmenu>ul>li.has-sub>a span {
    text-transform: uppercase;
    /*arrow right*/
}

#cssmenu>ul>li.has-sub.active>a span {
    /*arrow down*/
}


/* Sub menu */

#cssmenu ul ul {
    display: none;
    background: #F0F0F0;
}

#cssmenu ul ul li {
    padding: 0;
    background: #F0F0F0;
    padding: 5px 20px 5px 20px;
    font-family: 'Roboto-Regular', sans-serif;
}

#cssmenu ul ul li:hover {
    background: #f4f4f4;
    color: #ed6c44;
    border-left: 4px solid #ed6c44;
}

#cssmenu ul ul li:hover a{
    margin-left: -4px;    
}

/*#cssmenu ul ul li:last-child {*/


/*border: none;*/


/*}*/

#cssmenu ul ul a {
    padding: 10px 10px 10px 15px;
    display: block;
    font-size: 17px;
    font-family: 'Roboto-Regular', sans-serif;
}

#cssmenu ul ul a:before {
    position: absolute;
    left: 10px;
}

.ba-submenu-separador {
    font-size: 14px !important;
    margin: 30px 0 20px 40px !important;
    color: #8A939C !important;
    cursor: default;
}


/*#cssmenu ul ul a:hover {*/