.fluxo .main {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    background: #e5e5e5
}
.fluxo .main .container-fluid {
    height: 100%
}
.fluxo .btn-transfer {
    background-color: #007bff;
    color: #FFF;
}
.fluxo .saldos {
    margin-top: 45px;
}
.fluxo .saldos .bloco{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 3px #999;
    border-radius: 3px;
    padding: 35px;
    text-align: center;
    margin-right: 12px;
}
.fluxo .fa.fa-clock-o {
    color: #ed6c44 !important;
    font-size: 14px;
}
.fluxo .fa.fa-check-square-o {
    color: green !important;
    font-size: 14px;
}
.fluxo .fa.flx-icon:hover {
    color: #2a2a2a !important;
    cursor: default !important;
}
.fluxo .filtroDate {
    margin-left: 20px;
    float: left;
    height: 50px;
}
.fluxo input[type=date] {
    width: 161px !important;
    font-size: 16px;
    font-weight: bold;
    margin-top: 17px !important;
    padding: 0px !important;
    height: 33px;
    border-bottom: 1px solid #cccccc;
}
.fluxo .entre-periodo {
    width: 45px;
    margin-top: 21px;
    margin-left: 10px;
    font-size: 19px;
}