<link rel="stylesheet" href="src/banco-caixa/fluxo/fluxo.ctrl.css">
<div class="header">
    <div header></div>
</div>
<div class="fluxo">
    <section class="main">
        <div class='container-fluid'>
            <div ng-init="ngOnInit()" class="row container-fluid ba__body-content ba__full-width">
                <!--CONTAINER MENU-->
                <div sidebar></div>
                <!--CONTAINER SISTEMA-->
                <div class='col-xs-21 ba__admin-container'>
                    <div class="col-xs-24 ba__admin-container-list">
                        <div class="row ba__admin-busca" style="height: 80px;">
                            <div class="col-xs-24 input-group ba__admin-busca-input" style="float: left; border: none!important; height: 30px; margin-left: 20px">
                                <span class="input-group-addon" style="height: 60px"></span>
                                <select class="form-group col-xs-3 ba__adminSelectBusca" ng-model="filtro.situacao" style="height: 50px; border-bottom: 1px solid #cccccc;">
                                    <option value="TODAS_SITUACOES">Todas Situações</option>
                                    <option value="REALIZADOS">Realizados</option>
                                    <option value="PREVISTOS">Previstos</option>
                                </select>
                                <select class="form-group col-xs-2 col-md-offset-1 ba__adminSelectBusca" ng-model="filtro.tipo_fluxo" style="height: 50px; border-bottom: 1px solid #cccccc;">
                                    <option value="TODOS_FLUXOS">Todos Fluxos</option>
                                    <option value="RECEITA">Receita</option>
                                    <option value="DESPESA">Despesa</option>
                                </select>
                                <select class="form-group col-xs-5 col-md-offset-1 ba__adminSelectBusca" ng-model="filtro.conta" style="height: 50px; border-bottom: 1px solid #cccccc;">
                                    <option value="">Todos os bancos</option>
                                    <option ng-repeat="conta in contasBancarias" value="{{conta.id_conta_bancaria}}">{{conta.descricao}}</option>
                                </select>
                                <div class="filtroDate">
                                    <input type="date" class="form-group col-xs-1" ng-model="filtro.data_inicio">
                                    <span class="col-xs-1 entre-periodo">até</span>
                                    <input type="date" class="form-group col-xs-1" ng-model="filtro.data_fim">
                                </div>
                                <span class="col-xs-1"></span>
                                <button type="button" class="btn btn-primary col-xs-4 col-sm-6 col-md-4 uppercase" style="margin-top: 5px" ng-click="pesquisar(filtro)">
                                    Pesquisar
                                    <i class="icon-ba-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class='col-xs-24 ba__admin-list'>
                            <div class="row ba__margin-top-20">
                                <h4 class="col-xs-14 col-md-13 col-sm-10 Roboto-Light">{{fluxoCaixa.fluxo.length || 0}} movimentações</h4>
                                <!--<button type="button" class="btn btn-transfer col-xs-4 col-sm-6 col-md-4" style="float: right" ng-click="createTransferencia()">-->
                                    <!--<i class="fa fa-exchange" aria-hidden="true"></i> Transferência-->
                                <!--</button>-->
                            </div>
                            <div class="list-group ba__admin-table ba__margin-top-10" style="max-height: 55%">
                                <a class="list-group-item disabled ba__font-size-10">
                                    <div class="row uppercase">
                                        <div class="col-xs-2" style="cursor: pointer;">Vencimento
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-2" style="cursor: pointer;">Dt. Pagamento
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-3" style="cursor: pointer;">Situação
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-3" style="cursor: pointer;">Banco/caixa
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-5" style="cursor: pointer;">Descrição
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-5" style="cursor: pointer;padding-left: 20px;">Referente
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-2" style="cursor: pointer;">Valor
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                        <div class="col-xs-2 text-right" style="cursor: pointer;">Saldo
                                            <i class="ba__margin-horizontal-5"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="ba__admin-table-scroll">
                                    <a class="list-group-item ba__font-size-11" ng-repeat="fluxo in fluxoCaixa.fluxo" style="height: auto">
                                        <div class="row">
                                            <div class="col-xs-2">{{fluxo.data_vencimento}}</div>
                                            <div class="col-xs-2">{{fluxo.situacao === 'REALIZADO' ? fluxo.data_pagamento : ''}}</div>
                                            <div class="col-xs-3"><i class="fa {{fluxo.situacao === 'REALIZADO' ? 'fa-check-square-o' : 'fa-clock-o'}}" aria-hidden="true"></i> {{fluxo.situacao}}</div>
                                            <div class="col-xs-3">{{fluxo.conta_bancaria.banco.descricao || fluxo.conta_bancaria.descricao}} {{fluxo.conta_bancaria.conta}}</div>
                                            <div class="col-xs-5" title="{{fluxo.descricao}}">{{fluxo.descricao}} </div>
                                            <div class="col-xs-5" style="padding-left: 20px" title="{{fluxo.referente}}">{{fluxo.referente}} </div>
                                            <div class="col-xs-2" style="color:{{fluxo.fluxo === 'RECEITA' ? 'green' :'red'}};">{{fluxo.valor| currency:'R$ '}}</div>
                                            <div class="col-xs-2 text-center">{{ saldo(fluxo.valor,$index) | currency: 'R$ ' }}</div>
                                            <input type="hidden" id="saldo{{$index}}" value="{{saldo(fluxo.valor,$index)}}">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="saldos col-md-24">
                                <div class="col-md-6">
                                    <div class="bloco" style="color:#555555">Saldo inicial<br>{{ fluxoCaixa.saldo_inicial | currency: 'R$ ' }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bloco" style="color:green">Entradas<br>{{ fluxoCaixa.entrada | currency: 'R$ ' }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bloco" style="color:red">Saídas<br>{{ fluxoCaixa.saida | currency: 'R$ ' }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bloco" style="color:#555555;margin-right: 0;font-weight: bold;">Saldo final<br>{{ (fluxoCaixa.fluxo.length === 0) ? 0 : soma | currency: 'R$ '}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<!--MODAL TRANFERÊNCIA-->
<div class="modal fade" id="transferencia" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog ba__modal-info-banco-contas" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top" style="height: 75px; margin-bottom:25px;">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
                    <span>CONTAS BANCÁRIAS</span>
                    <!--<span>Editando tipo de lançamento</span>-->
                </h4>
            </div>

            <div class="modal-body ba__modal-body-info-banco-contas">
                <!--ABA CONTAS BANCÁRIAS-->
                <form>
                    <div class="row">
                        <div class="form-group col-xs-24">
                            <div class="row ba__margin-bottom-30" ng-show="data.contaBancariaSelecionado.id">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Código</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.contaBancariaSelecionado.id" disabled>
                                </div>
                            </div>

                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Tipo Conta</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.contaBancariaSelecionado.tipo_banco">
                                        <option value="bancária">Bancária</option>
                                        <option value="caixa">Caixa</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="data.contaBancariaSelecionado.tipo_banco === 'bancária'">
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Banco*</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <select class="ba__input-select" ng-model="data.contaBancariaSelecionado.idbanco" enter ng-options="banco.id as banco.descricao for banco in data.bancos">
                                        </select>
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Agência*</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" maxlength="9" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.agencia">
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Número da conta*</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" maxlength="9" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.conta">
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Operação</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" maxlength="9" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.operacao">
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Tipo de conta*</h5>
                                    </div>
                                    <div class="col-md-10    col-md-offset-1">
                                        <select class="ba__input-select" enter ng-model="data.contaBancariaSelecionado.tipo">
                                            <option value="CONTA CORRENTE">CONTA CORRENTE</option>
                                            <option value="POUPANÇA">POUPANÇA</option>
                                            <option value="CONTA INVESTIMENTO">CONTA INVESTIMENTO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30" ng-if="data.contaBancariaSelecionado.tipo_banco === 'caixa'">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Nome da conta*</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.descricao">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30 banco-saldo">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Saldo</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.contaBancariaSelecionado.saldoValue" ng-change="saldo()">
                                        <option value="+"> + positivo</option>
                                        <option value="-"> - negativo</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ui-money-mask style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.saldo">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Data Saldo Inicial*</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="date" class="ba__input-modal" ng-model="data.contaBancariaSelecionado.data_saldo_inicial">
                                </div>
                            </div>
                            <div class="row" ng-if="data.contaBancariaSelecionado.tipo_banco === 'bancária'">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray input-label-double">Exibir relatório prest. de contas</h5>
                                </div>
                                <div class="col-md-3 col-md-offset-1 ba__margin-top-5">
                                    <div class="col-xs-7 ba__margin-left-5">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="bacon2" checked enter ng-model="data.contaBancariaSelecionado.relatorio">
                                            <label class="onoffswitch-label" for="bacon2">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="col-xs-3">
									<span class="pull-left" style="margin-left: -20px;">
                                            <span class="text-positive" ng-show="data.contaBancariaSelecionado.relatorio">SIM</span>
									<span ng-show="!data.contaBancariaSelecionado.relatorio">NÃO</span>
									</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </form>
                <!--ABA CONTAS BANCÁRIAS-->
            </div>
            <div class="modal-footer" style="margin-top: 30px">
                <button type="button" class="btn btn-default btn-clear col-xs-8 col-xs-offset-6 btnVeiculo" ng-click="closeContaBancariaModal()">
                    Cancelar
                </button>
                <button type="button" ng-click="saveContaBancaria()" class="btn btn-success col-xs-9 col-xs-push-1 btnFocus btnVeicul" ng-disabled="!validateContaBancaria()">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>
<!--MODAL LOADING-->
<div class="modal" id="loading" role="dialog" data-backdrop="static" style="background: rgba(0, 0, 0, 0.1)!important">
    <div class="modal-dialog" role="document">
        <div style="padding: 20px;background:#FFF;width:14%;margin: 15% auto;position: relative;background-clip: padding-box;text-align: center;">
            <div class="row">
                <i class="col-md-5 fa fa-spinner fa-spin ba__font-size-50 text-center"></i>
                <h5 class="col-md-13 col-md-offset-1 text-gray ba__margin-top-20">
                    <b>aguarde...</b>
                </h5>
            </div>
        </div>
    </div>
</div>