﻿.ba__input-modal[disabled],
.ba__input-modal[readonly],
fieldset[disabled] .form-control {
	text-transform: uppercase !important;
}

.select-imgs img {
	width: 100%;
	height: 150px;
	object-fit: contain;
	border: 2px solid #cccccc;
}

.select-imgs .icon-ba-load {
	position: absolute;
	margin: 60px;
	cursor: pointer;
}
