<link rel="stylesheet" href="src/estoque/estoque/estoque.ctrl.css">

<div class="header">
	<div header></div>
</div>

<div ng-init="ngOnInit()" class="row container-fluid ba__body-content ba__full-width">
	<div sidebar></div>
	<div class="col-xs-21 ba__admin-container">
		<div class="row ba__admin-busca" style="height: 80px;border-bottom: none">
			<div class="col-xs-24 input-group ba__admin-busca-input" style="float: left; border: none!important; height: 30px; margin-left: 20px;margin-top: 10px;">
				<span class="input-group-addon" style="height: 60px"></span>
				<select class="form-group col-xs-4 ba__adminSelectBusca" ng-init="search.type = 'descricao'" ng-model="search.type" style="height: 50px; border-bottom: 1px solid #cccccc;">
					<option value="descricao">Descrição</option>
				</select>
				<span class="col-xs-1"></span>
				<input type="text" ng-model="search.term" class="form-group col-xs-3" style="height: 50px; border-bottom: 1px solid #cccccc;">
				<button type="button" class="btn btn-primary col-xs-3 col-xs-offset-1 uppercase" style="margin-top: 12px" ng-click="pesquisar(search)">
					Pesquisar
					<i class="icon-ba-search"></i>
				</button>
			</div>
		</div>
		<div class="col-xs-24 ba__admin-container-list">
			<div class="row ba__admin-list">
				<div class="row ba__margin-top-20">
					<h3 class="col-md-15 Roboto-Light">{{itens.length || 0}} produtos encontrado com {{qntTotais || 0}} itens em estoque</h3>
					<!-- <button type="button" class="btn btn-success col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px" data-toggle="modal"
					 ng-click="createPedido()">
						Novo pedido
					</button> -->
				</div>
				<div class="list-group ba__admin-table ba__margin-top-40" style="height: 70%">
					<a class="list-group-item disabled">
						<div class="row uppercase">
							<div class="col-xs-1 text-center">id</div>
							<div class="col-xs-2 text-center">referência</div>
							<div class="col-xs-4 text-center">descrição</div>
							<div class="col-xs-2 text-center">qnt. atual</div>
							<div class="col-xs-2 text-center">qnt. mín.</div>
							<div class="col-xs-2 text-center">qnt. máx.</div>
							<div class="col-xs-2 text-center">area</div>
							<div class="col-xs-2 text-center">rua</div>
							<div class="col-xs-2 text-center">colu.</div>
							<div class="col-xs-2 text-center">nível</div>
							<div class="col-xs-2 text-center">seq.</div>
							<div class="col-xs-1 text-center">Ações</div>
						</div>
					</a>
					<div class="ba__admin-table-scroll">
						<a class="list-group-item ba__font-size-12 ba__pointer" ng-repeat="item in itens" ng-click="detailProduto(item)">
							<div class="row">
								<div class="col-xs-1 text-center">{{item.id}}</div>
								<div class="col-xs-2 text-center">{{item.referencia}}</div>
								<div class="col-xs-4 text-center">{{item.descricao}}</div>
								<div class="col-xs-2 text-center">{{item.qntAtual}}</div>
								<div class="col-xs-2 text-center">{{item.qntMin}}</div>
								<div class="col-xs-2 text-center">{{item.qntMax}}</div>
								<div class="col-xs-2 text-center">{{item.area}}</div>
								<div class="col-xs-2 text-center">{{item.rua}}</div>
								<div class="col-xs-2 text-center">{{item.coluna}}</div>
								<div class="col-xs-2 text-center">{{item.nivel}}</div>
								<div class="col-xs-2 text-center">{{item.sequencia}}</div>
								<div class="col-xs-1 text-center">
									<i class="icon-ba-view"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-10 col-md-offset-9" ng-if="pageCount">
						<nav class="">
							<ul class="pagination text-center">
								<li>
									<a aria-label="Previous" ng-click="updateList(current_page - 1)" class="ba__margin-right-15">
										<span aria-hidden="true">&laquo; ANTERIOR</span>
									</a>
								</li>
								<li ng-click="updateList(page)" ng-repeat="page in pages">
									<a ng-class="page == current_page ? 'selected' : ''">{{page}}</a>
								</li>
								<li ng-if="pageCount > 5">
									<a>...</a>
								</li>
								<li ng-if="pageCount > 5" ng-click="updateList(pageCount)">
									<a ng-class="pageCount == current_page ? 'selected' : ''">{{pageCount}}</a>
								</li>
								<li>
									<a aria-label="Next" ng-click="updateList(current_page + 1)" style="margin-left: 15px">
										<span aria-hidden="true">PRÓXIMA &raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="detailProduto" tabindex="-1" role="dialog">
	<div class="modal-dialog ba__modal-lancamento-avulso" role="document">
		<div class="modal-content" style="height: 700px">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
					<span>Detalhes</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-tipo-lancamento ba__margin-top-7">
				<div class="row">
					<div class="form-group col-xs-24">
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right">
									<b>Produto</b>
								</h4>
							</div>
							<div class="row" style="border-bottom: 1px solid #cccccc; padding: 5px;"></div>
						</div>
						<div class="row ba__margin-bottom-30" ng-show="item.id">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Código</h4>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<input readonly type="text" class="ba__input-modal" ng-model="item.id" style="text-transform:uppercase; height: 60px; margin-top: -10px"
								  readonly>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Referência</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input readonly type="text" class="ba__input-modal" maxlength="80" ng-model="item.referencia" style="text-transform:uppercase">
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Descrição</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input readonly type="text" class="ba__input-modal" maxlength="80" ng-model="item.descricao" style="text-transform:uppercase">
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Grupo</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input readonly class="ba__input-modal" value="{{item.grupo}}" />
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Origem</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input readonly class="ba__input-modal" value="{{item.origem}}" />
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Unidade</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input readonly class="ba__input-modal" value="{{item.unidade}}" />
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Status</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input readonly class="ba__input-modal" value="{{item.status}}" />
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Observações</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<textarea readonly class="ba__input-modal" value="{{item.observacoes}}" style="text-transform:uppercase"></textarea>
							</div>
						</div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h4 class="text-right">
								<b>Estoque</b>
							</h4>
						</div>
						<div class="row" style="border-bottom: 1px solid #cccccc; padding: 5px"></div>
					</div>
					<div class="row ba__margin-bottom-3">
						<div class="col-md-6">
							<h4 class="text-right text-gray">Quantidade Máxima</h4>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<input readonly class="ba__input-modal" value="{{item.qntMax}}" />
						</div>
					</div>
					<div class="row ba__margin-bottom-3" style="height: 67px;">
						<div class="col-md-6">
							<h4 class="text-right text-gray">Quantidade atual</h4>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<input readonly class="ba__input-modal" value="{{item.qntAtual}}" />
						</div>
					</div>
					<div class="row ba__margin-bottom-3">
						<div class="col-md-6">
							<h4 class="text-right text-gray">Quantidade Mínima</h4>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<input readonly class="ba__input-modal" value="{{item.qntMin}}" />
						</div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h4 class="text-right">
								<b>Endereço</b>
							</h4>
						</div>
						<div class="row" style="border-bottom: 1px solid #cccccc; padding: 5px"></div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-2">
							<h4 class="text-right text-gray">Área</h4>
						</div>
						<div class="col-md-offset-1 col-md-8">
							<input readonly class="ba__input-modal" value="{{item.area}}" />
						</div>
						<div class="col-md-2">
							<h4 class="text-right text-gray">Rua</h4>
						</div>
						<div class="col-md-offset-1 col-md-8">
							<input readonly class="ba__input-modal" value="{{item.rua}}" />
						</div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-2">
							<h4 class="text-right text-gray">Coluna</h4>
						</div>
						<div class="col-md-offset-1 col-md-8">
							<input readonly class="ba__input-modal" value="{{item.coluna}}" />
						</div>
						<div class="col-md-2">
							<h4 class="text-right text-gray">Nível</h4>
						</div>
						<div class="col-md-offset-1 col-md-8">
							<input readonly class="ba__input-modal" value="{{item.nivel}}" />
						</div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-3">
							<h4 class="text-right text-gray">Sequência</h4>
						</div>
						<div class="col-md-offset-1 col-md-8">
							<input readonly class="ba__input-modal" value="{{item.sequencia}}" />
						</div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h4 class="text-right">
								<b>Imagens</b>
							</h4>
						</div>
						<div class="row" style="border-bottom: 1px solid #cccccc; padding: 5px"></div>
					</div>
					<div class="row ba__margin-bottom-30 select-imgs">
						<table style="height: 150px;width:100%">
							<tbody>
								<tr>
									<td style="width: 20%;">
										<i class="icon-ba-load fa-2x" ng-if="img0.load"></i>
										<img ng-src='{{img0.imagem || "//:0"}}' />
									</td>
									<td style="width: 20%;">
										<i class="icon-ba-load fa-2x" ng-if="img1.load"></i>
										<img ng-src='{{img1.imagem || "//:0"}}' />
									</td>
									<td style="width: 20%;">
										<i class="icon-ba-load fa-2x" ng-if="img2.load"></i>
										<img ng-src='{{img2.imagem || "//:0"}}' />
									</td>
									<td style="width: 20%;">
										<i class="icon-ba-load fa-2x" ng-if="img3.load"></i>
										<img ng-src='{{img3.imagem || "//:0"}}' />
									</td>
									<td style="width: 20%;">
										<i class="icon-ba-load fa-2x" ng-if="img4.load"></i>
										<img ng-src='{{img4.imagem || "//:0"}}' />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="padding: 0; padding-top: 25px">
				<button type="button" data-dismiss='modal' class="btn btn-default col-md-5 ba__margin-left-15 pull-right">
					Ok
				</button>
			</div>
		</div>
	</div>
</div>