/.idea
/.vscode
api/.env
api/.idea
api/public/.htaccess
api/public/index.php
api/storage/
api/vendor/
api/composer.lock
api/public/php_errors.log
/node_modules
site/node_modules
site/bower_components
site/package-lock.json
site/src/app/config/urlConfig.js
.gitignore
/site/src/app/config/urlConfig-sample - Copia.js
