<div class="col-xs-21 ba__admin-container">
  <!-- INICIO Tela CATEGORIA DE USUÁRIOS-->
  <div class="col-xs-24 ba__admin-container-list">

    <div class="row ba__admin-list">
      <div class="row ba__margin-top-20">
        <h3 class="col-md-15 Roboto-Light"><strong>{{assembleias.length}}</strong> Registros encontrados</h3>
        <button type="button" class="btn btn-success col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px" data-toggle="modal"
          (click)="$('app-assembleia-form').modal('show');">
						Novo
					</button>
      </div>
      <div class="list-group ba__admin-table ba__margin-top-40" style="height: 85%">
        <a class="list-group-item disabled">
          <div class="row uppercase">
            <div class="col-xs-1">ID<i class="ba__margin-horizontal-5"></i></div>
            <div class="col-xs-8">Título<i class="ba__margin-horizontal-5"></i></div>
            <div class="col-xs-3">Status<i class="ba__margin-horizontal-5"></i></div>
            <div class="col-xs-4">Período<i class="ba__margin-horizontal-5"></i></div>
            <div class="col-xs-4">Período da votação<i class="ba__margin-horizontal-5"></i></div>
            <div class="col-xs-3">Local<i class="ba__margin-horizontal-5"></i></div>
            <div class="col-xs-3 text-center"></div>
          </div>
        </a>
        <div class="ba__admin-table-scroll">
          <a class="list-group-item ba__font-size-12 ba__pointer" *ngFor="let item of assembleias">
            <div class="row"  (click)="navigateToDetalhe(item.id)">
              <div class="col-xs-1">{{item.id}}</div>
              <div class="col-xs-8">{{item.titulo}}</div>
              <div class="col-xs-3 status-assembleia">{{item.status}}</div>
              <div class="col-xs-4">{{item.periodo}}</div>
              <div class="col-xs-4">{{item.periodo_votacao}}</div>
              <div class="col-xs-3">{{item.local}}</div>
              <div class="col-xs-1">
                <i class="icon-ba-view ba__margin-left-35" title="Editar" (click)="navigateToDetalhe(item.id)"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL CADASTRO-->
<app-assembleia-form class="modal fade"></app-assembleia-form>