<link rel="stylesheet" href="src/documentos/documentos/documentos.ctrl.css" xmlns="http://www.w3.org/1999/html"/>

<div class="header">
    <div header></div>
</div>

<div class="row container-fluid ba__body-content ba__full-width">
    <!--CONTAINER MENU-->
    <div sidebar></div>
    <!--CONTAINER SISTEMA-->
    <div class="col-xs-21 ba__admin-container">
        <!-- INICIO TELA CATEGORIA DE USUÁRIOS-->
        <div class="col-xs-24 ba__admin-container-list">
            <!--Banner Documentos-->
            <div class="row document-banner">
                <div class="col-xs-24 document-banner-title">
                    <h1 class="cff6633">
                        <span style="border-radius: 100%; background-color: #FFE4BF; padding: 15px;
                            display: inline-flex; vertical-align: middle;">
                            <i class="fa fa-file-text" style="font-size: 3rem"></i>
                        </span>
                        Documentos</h1>
                    <div style="width: 49%; position: relative; overflow: hidden; display: flex; padding-bottom: 118px">
                        <img id="bg-image-document" src="img/bg-banner-document.png">
                        <img id="logo-document" src="img/logo_document.png">
                    </div>
                    <span>
                        <button class="btn btn-categories ba__font-size-17"
                                ng-click="openModalCategory()">Categorias</button>
                        <button class="btn btn-primary ba__font-size-17"
                                ng-click="openModalDocument()">+ Novo Documento</button>
                    </span>
                </div>
            </div>
            <!--Fim Banner Documentos-->
            <!-- Listagem de Documentos-->
            <div class="row">
                <div class="list-documents">
                    <div class="row list-header uppercase">
                        <div class="col-xs-5">Nome</div>
                        <div class="col-xs-5">Categoria</div>
                        <div class="col-xs-5">Envio</div>
                    </div>
                    <div class="ba__admin-table-scroll">
                        <div class="list-body list-group-item ba__pointer" ng-repeat="document in listDocuments">
                            <div class="row ba__font-size-15">
                                <div class="col-xs-5">{{document.nome}}</div>
                                <div class="col-xs-5">{{document.categoria}}</div>
                                <div class="col-xs-5">{{document.data_postagem}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Listagem de Documentos-->
            <!-- Modal Categoria -->
            <div class="modal fade" id="modalCategory" role="dialog" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog document-modal-50pc" role="document">
                    <div class="modal-content document-content">
                        <!-- Header -->
                        <div class="modal-header document-header">
                            <div class="row">
                                <h4 class="modal-title Roboto-Thin ba__font-size-25"
                                    style="padding: 25px 25px 10px; font-weight: bold;">
                                    <i class="fa fa-list cff6633"></i>
                                    <span>Categorias</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Form Mean -->
                        <div class="modal-body ba__bg-white ba__modal-body-document">
                            <div style="padding: 0 0 20px; margin: 0 0 20px;">
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-22" style="width: 99.5%; margin-left: 10px; margin-top: 20px">
                                        <div style="padding: 15px">
                                            <div class="control-input">
                                                <input type="text" name="nome" ng-model="category.nome" value="category"
                                                       placeholder=" " autocomplete="off"
                                                       class="ng-pristine ng-valid ng-touched"
                                                       required aria-invalid="false" maxlength="40"/>
                                                <span>Nome da Categoria</span>
                                                <button type="button"
                                                        class="btn btn-success col-xs-offset-3 col-xs-6 pull-right bgc-ff6633 ba__font-size-20"
                                                        ng-click="saveCategory(category.nome)"
                                                        style="padding: 20px 50px; margin-right: 10px; margin-top: 0px; width: 255px;">
                                                    Adicionar
                                                </button>
                                                <div style="width: 65%; text-align: right; margin-top: 5px">
                                                    {{category.nome.length == null ? "0" : category.nome.length}} / 40
                                                </div>
                                            </div>
                                            <div class="list-documents">
                                                <div class="row list-header uppercase">
                                                    <div class="col-xs-8">Nome
                                                        <i class="ba__margin-horizontal-5"></i>
                                                    </div>
                                                    <div class="col-xs-1 text-right"></div>
                                                </div>
                                                <div class="ba__admin-table-scroll">
                                                    <div class="list-body list-group-item ba__pointer"
                                                         ng-repeat="category in listCategories">
                                                        <div class="row ba__font-size-15">
                                                            <div class="col-xs-8">{{category.nome}}</div>
                                                            <i class="fa fa-trash cff6633 text-right"
                                                               style="display: block"
                                                               ng-click="deleteCategory(category.id)">
                                                            </i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="padding-right: 15px !important;">
                            <button type="button"
                                    class="btn btn-default btn-clear col-xs-offset-3 col-xs-6 uppercase pull-right"
                                    ng-click="closeModalCategory()"
                                    style="margin-left: 30px; width: 200px;">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Modal  -->
            <!-- Modal Documento -->
            <div class="modal fade" id="modalDocument" role="dialog" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog document-modal-50pc" role="document">
                    <div class="modal-content document-content">
                        <!-- Header -->
                        <div class="modal-header document-header">
                            <div class="row">
                                <h4 class="modal-title Roboto-Thin ba__font-size-25"
                                    style="padding: 25px 25px 10px; font-weight: bold;">
                                    <i class="fa fa-plus cff6633"></i>
                                    <span>Novo Documento</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Form Mean -->
                        <div class="modal-body ba__bg-white ba__modal-body-document">
                            <div style="display: flex; flex-direction: column;">
                                <div class="col-md-12 show_file"> <!-- ng-repeat="(indexDoc, document) in listDocuments" -->
                                    <a href="javascript:void(0)" ng-click="openDocument(document.id)">
                                        <img width="45" height="45" src="{{document.icon}}">
                                        <span style="font-size: 17px; color: #666666 !important;">{{document.nome}}</span>
                                        <i ng-click="" class="fa fa fa-trash-o pull-right"
                                           style="font-size: 24px; margin: 8px; color: #666;"></i>
                                    </a>
                                    <div class="control-input">
                                        <input type="text" name="nome" ng-model="document.nome" value="document"
                                               placeholder=" " autocomplete="off"
                                               class="ng-pristine ng-valid ng-touched"
                                               required aria-invalid="false" maxlength="40"/>
                                        <span>Nome do Documento</span>
                                        <select ng-model="category.nome" name="category"
                                                ng-options="category as category.nome for category in listCategories">
                                            <option value="">Selecione uma Categoria</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-input-add-Document" for="documents" class="ba__font-size-15 ba__margin-top-10"
                                   data-toggle="modal" type="file" name="documents"
                                   onchange="angular.element(this).scope().changeInputField(this, 'documents_rules')">
                                   <input  class="pull-left btn btn-atualizar col-xs-4 uppercase right" style="float: right; display: none;"
                                        data-toggle="modal" type="file" name="documents" id="documents"
                                        onchange="angular.element(this).scope().changeInputField(this, 'documents_rules')">
                                    <h4 style="padding-top: 150px;">Adicionar Anexo</h4>
                                    <span class="ba__font-size-12 pull-left" style="width: 100%; color: #9d9d9d; font-weight: normal" >Arquivos com no máximo 25MB</span>
                                </label>
                            </div>
                        </div>
                        <div class="document-footer">
                            <button class="btn btn-primary col-xs-offset-3 col-xs-6 pull-right"
                                    ng-click="" style="margin-left: 30px;">Publicar</button>
                            <button class="btn btn-categories col-xs-offset-3 col-xs-6 pull-right"
                                    ng-click="closeModalDocument()" style=" margin-left: 30px;">Cancelar</button>
                            <i class="fa fa-trash-o"><h5>Excluir</h5></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Modal Documento -->
        </div>
    </div>
</div>