.w100pc {
  width: 100%;
}

.c999999 {
  color: #999999;
}

.c666666 {
  color: #666666;
}

.cffffff {
  color: #ffffff;
}

.cff6633 {
  color: #ff6633;
}

.cff0000 {
  color: #ff0000;
}

.bgc-fff {
  background-color: #ffffff;
}

.bgc-ff6633 {
  background-color: #ff6633;
}

.br8px {
  border-radius: 8px;
}

.px-16px {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}

.bs {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.document-banner {
  height: 120px;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #c5c5c5;
  background: #ffffff;
}

.document-banner-title {
  margin: 0 0 20px;
  height: 30px;
  border: 1px #e8e8e8 none;
  border-radius: 50px;
  color: #8d8d8d;
  float: left;
  text-align: center;
  font-size: 35px;
  display: flex;
}

#bg-image-document{
  position: relative;
  width: 850px;
  height: 650px;
  margin: -133px auto;
}

h1{
  padding: 20px;
}

#logo-document{
  width: 215px;
  height: 185px;
  position: absolute;
  right: 320px;
  bottom: -27px;
}

.btn {
  padding: 15px 50px;
  margin: 20px 10px;
  border-radius: 40px;
  box-sizing: border-box;
}

.btn-categories {
  border: 1px solid #828282;
  background: none;
  color: #ff6633;
}

.btn-categories:hover {
  color: #ff0000;
}

.btn-new-document {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 30px;
  background: none;
  color: #ff6633;
  padding: 15px 50px;
}

.list-documents {
  margin: 40px 20px;
  height: 85%;
  box-shadow: none;
}

.list-header{
  font-weight: bold;
  color: #a09e9a;
}

.document-modal {
  width: 60%;
}

.document-modal-50pc {
  width: 50%;
}

.document-modal-40pc {
  width: 40%;
}

.document-content,
.document-header {
  padding: 0px;
  border-radius: 16px;
}

.ba__modal-body-document {
  overflow-y: auto;
  background-color: #F2F2F2;
  padding: 0px;
  height: 625px
}

.show_file {
  margin: 25px 25px 0;
  padding: 15px 15px 0;
  width: 95%;
}

.show_file div {
  padding: 15px;
  width: 100%;
  display: inline-block;
}

.document-footer {
  border-top: 1px solid #e2e2e2;
  font-family: Roboto-Regular, sans-serif;
  font-size: 20px;
  color: #E63737;
  display: block;
}

.document-footer h5{
  font-family: Roboto-Regular, sans-serif;
  display: inline;
  padding-left: 10px;
  text-decoration: underline;
}

.document-footer i{
  padding-left: 50px;
  padding-top: 35px;
}

.check-document {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 30px 20px 30px;
  margin-top: 11px;
}

.check-document h4 b {
  border: 1px solid #ccc;
  width: 55px;
  height: 55px;
  border-radius: 32px;
  float: left;
  margin-top: -18px;
  text-align: center;
  padding-top: 13px;
  margin-right: 15px;
  color: #ff6633;
}

.control-input {
  position: relative;
}

.control-input input, .control-input span, .control-input select{
  margin-left: 25px;
}


.control-input input,
.control-input > textarea,
.control-input > select {
  border: 0;
  border-bottom: 2px solid #999999;
  outline: none;
  width: 47%;
  height: 80px;
  min-height: 60px;
  font-size: 18px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  background-color: rgba(255, 102, 51, 0.04);
  border-radius: 8px 8px 0px 0px;
  padding: 16px 8px 8px 16px;
  color: red;
}


.control-input-add-Document {
  width: 95%;
  margin: 25px;
  padding: 0 0 20px;
  border: medium dashed rgba(0, 0, 0, 0.25);
  height: 235px;
  border-radius: 16px;
  color: #ff6633;
  text-align: center;
  background: url("/img/doc-upload.png") no-repeat scroll transparent;
  background-size: 100px;
  background-position-y: 30px;
  background-position-x: center;
  cursor: pointer;
}

.control-input input:focus {
  border-bottom: 2px solid #ff6633;
}

.control-input input::placeholder {
  color: transparent;
}

.control-input span {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 28px;
  margin-left: 35px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  font-size: 18px;
}

.control-input textarea:required:invalid + span,
.control-input input:required:invalid + span {
  color: red;
}

.control-input textarea:focus:required:invalid,
.control-input input:focus:required:invalid {
  border-bottom: 2px solid red;
}

.control-input textarea:required:invalid + span:before,
.control-input input:required:invalid + span:before {
  content: "* ";
}

.control-input input:focus + span,
.control-input input:not(:placeholder-shown) + span {
  font-size: 12px;
  margin-top: 5px;
  color: #ff6633;
}

.control-input textarea:focus + span,
.control-input textarea:not(:placeholder-shown) + span {
  font-size: 12px;
  margin-top: 5px;
  color: #ff6633;
}

.control-input select:focus + span,
.control-input select:not([value=""]):valid ~ span {
  font-size: 12px;
  margin-top: 5px;
  color: #ff6633;
}

.informativos {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  padding: 20px 15px;
  border-radius: 15px;
  margin: 15px 15px 20px;
}

.informativos.info {
  color: #2d9cdb;
  background-color: rgba(45, 156, 219, 0.1);
  border-color: #2d9cdb;
}

.informativos > span {
  font-size: 15px;
}

.informativos > i {
  font-size: 24px;
  margin-right: 15px;
}

.format-radios {
  margin-left: 25px;
}

.format-radios label {
  font-size: 20px;
}

.format-radios label input {
  width: 20px;
  height: 20px;
}

.step-selecionado {
  background-color: #ff6633;
  color: #fff;
  border: 1px solid #ff6633;
}

.check-styled .checkbox {
  margin-top: 0px;
}

.btn-clear-document,
.btn-clear-document:hover {
  border-color: #979797;
  color: #999999;
}

.ba__input-select {
  font-size: 16px;
  min-width: 232px;
}

.text-soft-gray {
  color: #999999;
}

.busca-input {
  position: relative;
  float: right;
  margin-right: 50px;
}

.busca-input input {
  border: 0;
  border-bottom: 2px solid #999999;
  outline: none;
  width: 100%;
  min-height: 60px;
  font-size: 18px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  background-color: #f3f3f3;
  border-radius: 8px 8px 0px 0px;
  padding: 16px 8px 8px 16px;
  color: #333;
}

.busca-input input:focus {
  border-bottom: 2px solid #ff6633;
}

.busca-input input::placeholder {
  color: transparent;
}

.busca-input span {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 16px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  font-size: 20px;
}

.busca-input input:required:invalid + span {
  color: red;
}

.busca-input input:focus:required:invalid {
  border-bottom: 2px solid red;
}

.busca-input input:required:invalid + span:before {
  content: "*";
}

.busca-input input:focus + span,
.busca-input input:not(:placeholder-shown) + span {
  font-size: 12px;
  margin-top: 5px;
  color: #ff6633;
}

.btn-clear2 {
  border: none;
}

.btn-clear2:hover {
  box-shadow: none;
}

button[disabled] {
  background-color: #ff9673;
  opacity: 0.7;
}
