.list-group-item .row div {
	overflow: inherit !important;
}

.status-pendente{
	background: transparent;
	color: #c9ae2f;
	border-color: #c9ae2f;
	border-radius: 4px;
}

.status-em-aberto{
	background: transparent;
	color: #ed6c44;
	border-color: #ed6c44;
	border-radius: 4px;
}
.status-em-cotacao{
	background: transparent;
	color: #3772a8;
	border-color: #3772a8;
	border-radius: 4px;
}
.status-aprovacao-da-compra{
	background: transparent;
	color: #9d35bf;
	border-color: #9d35bf;
	border-radius: 4px;
}
.status-compra-aprovada{
	background: transparent;
	color: #7acd75;
	border-color: #7acd75;
	border-radius: 4px;
}
.status-cancelado{
	background: transparent;
	color: #ca4a4a;
	border-color: #ca4a4a;
	border-radius: 4px;
}
.status-compra-encerrada{
	background: transparent;
	color: #808080;
	border-color: #7acd75;
	border-radius: 4px;
}

.status-pendente span{
	color: #c9ae2f;
}

.status-em-aberto span{
	color: #ed6c44;
}
.status-em-cotacao span {
	color: #3772a8;
}
.status-aprovacao-da-compra span {
	color: #9d35bf;
}
.status-compra-aprovada span {
	color: #7acd75;
}
.status-compra-encerrada span {
	color: #808080;
}
.status-cancelado span{
	color: #ca4a4a;
}

.modal-detalhe_pedido
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 72%;
	margin: auto;
	overflow-y: hidden;
	-webkit-transform: translate(-50%,-50%) !important;
	-ms-transform: translate(-50%,-50%) !important;
	transform: translate(-50%,-50%) !important;
}
.fornecedores-cotacao{
	border: 1px solid #e2e2e2;
	padding: 0 20px 39px 20px;
	margin-top: 20px;
}
#emCotacao .ba__input-modal{
    height: 43px;
}
/*#### AUTOCOMPLETE #####*/
.twitter-typeahead {
    position: relative;
    width: 100%;
}
.tt-dropdown-menu {
	width: 100%;
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	z-index: 99999 !important;
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
    cursor: pointer;
	color: #fff;
	background-color: #c29044;
	background-image: -moz-linear-gradient(top, #a2b5cc, #a1afb3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2b5cc), to(#a1afb3));
	background-image: -webkit-linear-gradient(top, #a2b5cc, #a1afb3);
	background-image: -o-linear-gradient(top, #a2b5cc, #a1afb3);
	background-image: linear-gradient(to bottom, #a2b5cc, #a1afb3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}
.retorno-vazio {
	padding-left: 10px;
}
.prod-modal-list {
	display: none;
}
.prod-modal-list h5 {
    cursor: pointer;
    padding: 5px 30px;
}
.prod-modal-list h5:hover {
	background-color: #e8e8e8
}
.load-list {
    width: 500px;
    float: left;
}
#insertEmpresa .tt-dropdown-menu {
    position: relative !important;
}

.compras label
{
	color: rgb(89, 95, 101);
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px
}
/*
.compras .search input::placeholder {
	color: #ccc;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 22px;
}*/
