<link rel="stylesheet" href="src/contas-receber/recebimentos-manuais/recebimentoManual.ctrl.css">
<div class="header">
	<div header></div>
</div>

<div ng-init="ngOnInit()" class="row container-fluid ba__body-content ba__full-width">
	<div sidebar></div>

	<!--CONTAINER SISTEMA-->
	<div class="col-xs-21 ba__admin-container">
		<!-- INICIO Tela CATEGORIA DE USUÁRIOS-->
		<div class="col-xs-24 ba__admin-container-list">
			<div class="row ba__admin-busca">
				<div class="col-xs-24 input-group ba__admin-busca-input" style="float: left; border: none!important; height: 30px; margin-left: 20px">
					<span class="input-group-addon" style="height: 60px"></span>
					<select class="form-group col-xs-4 ba__adminSelectBusca" ng-init="search.tipo = 'mesAno'" ng-model="search.tipo" style="height: 50px; border-bottom: 1px solid #cccccc;">
						<option value="mesAno">Mês e ano</option>
						<option value="nosso_numero">Nosso numero</option>
						<option value="nosso_numero_origem">Nosso numero origem</option>
					</select>
					<div ng-if="search.tipo == 'mesAno'">
						<span class="col-xs-2"><h4 class="text-right" style="margin-top: 15px;">Quadra&nbsp;&nbsp;</h4></span>
						<input type="text" min="1" class="form-group col-xs-1" style="height: 50px; border-bottom: 1px solid #cccccc;" ng-model="search.quadra">
						<span class="col-xs-1"><h4 class="text-right" style="margin-top: 15px;">Lote&nbsp;&nbsp;</h4></span>
						<input type="text" min="1" class="form-group col-xs-1" ng-model="search.lote" style="height: 50px; border-bottom: 1px solid #cccccc;">
						<span class="col-xs-4"><h4 class="text-right" style="margin-top: 15px;">Mês de competência&nbsp;&nbsp;</h4></span>
						<input type="number" min="1" class="form-group col-xs-1" ng-model="search.mes_competencia" style="height: 50px; border-bottom: 1px solid #cccccc;">
						<span class="col-xs-4"><h4 class="text-right" style="margin-top: 15px;">Ano de competência&nbsp;&nbsp;</h4></span>
						<input type="number" min="2000" class="form-group col-xs-1" ng-model="search.ano_competencia" style="height: 50px; border-bottom: 1px solid #cccccc;">
					</div>
					<div ng-if="search.tipo == 'nosso_numero' || search.tipo == 'nosso_numero_origem'">
							<span class="col-xs-1"></span>
							<input type="number" class="form-group col-xs-3" style="height: 50px; border-bottom: 1px solid #cccccc;" ng-model="search.numero">
					</div>
					<button type="button" class="btn btn-primary col-xs-3 col-xs-offset-1 uppercase" style="margin-top: 12px" ng-click="buscaRecebimentos(search)">
						Pesquisar
						<i class="icon-ba-search"></i>
					</button>
				</div>
			</div>

			<div class="row ba__admin-list" style="overflow-y: auto;">
				<div class="row ba__margin-top-20">
					<h3 ng-if='(data.recebimentosManuais.length == 1)' class="ol-md-15 Roboto-Light">
						<strong>{{data.recebimentosManuais.length}}</strong> conta a receber encontrada</h3>
					<h3 ng-if='(data.recebimentosManuais.length != 1)'  class="col-md-15 Roboto-Light">
						<strong>{{data.recebimentosManuais.length || 0}}</strong> contas a receber encontradas
					</h3>
				</div>
				<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
					<a class="list-group-item disabled">
						<div class="row uppercase" style="padding-left: 4px">
							<div class="col-xs-1"><input class="form-check-input" type="checkbox"></div>
							<div class="col-xs-2">QD./LT.</div>
							<div class="col-xs-6">PARCEIRO</div>
							<div class="col-xs-2">T. PROVISIONADO</div>
							<div class="col-xs-2">T. ABATIMENTO</div>
							<div class="col-xs-2">T. ACRÉSCIMO</div>
							<div class="col-xs-3">SALDO A RECEBER</div>
							<div class="col-xs-2">T. A RECEBER</div>
							<div class="col-xs-2">T. RECEBIDO</div>
							<div class="col-xs-2">DT. ORIGEM</div>
						</div>
					</a>
					<div class="ba__admin-table-scroll col-xs-24">
						<a class="list-group-item ba__font-size-12 ba__pointer" ng-repeat="recebimentoManual in data.recebimentosManuais" style="height: auto"
						  ng-click="selecionaRecebimentoManual(recebimentoManual)">
							<div class="row">
								<div class="col-xs-1"><input class="form-check-input" type="checkbox" ng-checked="data.rebimentoSelecionado.id === recebimentoManual.id"></div>
								<div class="col-xs-2">{{recebimentoManual | formatQuadraLote}}</div>
								<div class="col-xs-6">{{recebimentoManual.nome}}</div>
								<div class="col-xs-2">{{recebimentoManual.total_provisionado | currency}}</div>
								<div class="col-xs-2">{{recebimentoManual.total_abatimento | currency}}</div>
								<div class="col-xs-2">{{0.00 | currency}}</div>
								<div class="col-xs-3">{{recebimentoManual.saldo_receber | currency}}</div>
								<div class="col-xs-2">{{recebimentoManual.valor_total | currency}}</div>
								<div class="col-xs-2">{{recebimentoManual.total_recebido | currency}}</div>
								<div class="col-xs-2">{{recebimentoManual.data_agendamento }}</div>
							</div>
						</a>
					</div>
				</div>

				<!-- TABS -->
				<div class="col-md-24" style="margin-bottom: 5%">
					<ul class="nav nav-tabs ba-nav-tabs ba__margin-top-40" style="margin-bottom: -10px;">
						<li class="disabled">
							<a>
								<h5>{{data.rebimentoSelecionado ? 1 : 0 }} Selecionados</h5>
							</a>
						</li>
						<li ng-class="{'active': data.tabStatus === 'Debitos'}" ng-click="data.tabStatus = 'Debitos'">
							<a data-toggle="tab">
								<h5>DÉBITOS</h5>
							</a>
						</li>
						<!--<li ng-class="{'active': data.tabStatus === 'SaldoReceber'}" ng-click="data.tabStatus = 'SaldoReceber'">-->
						<!--<a data-toggle="tab"><h5>SALDO À RECEBER</h5></a>-->
						<!--</li>-->
						<li ng-class="{'active': data.tabStatus === 'OrdemPagamento'}" ng-click="data.tabStatus = 'OrdemPagamento'">
							<a data-toggle="tab">
								<h5>ORDEM DE PAGAMENTO</h5>
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<!-- DÉBITOS -->
						<div id="menu1" class="tab-pane fade in active" ng-if="data.tabStatus === 'Debitos'">
							<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
								<a class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-9">DESCRIÇÃO<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-9">PLANO DE CONTAS<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-2">VALOR<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-2">SALDO A RECEBER<i class="ba__margin-horizontal-5"></i>
										</div>
									</div>
								</a>
								<div class="ba__admin-table-scroll col-xs-24" style="max-height: 192px;">
									<a class="list-group-item ba__font-size-12" ng-repeat="debito in data.debitos">
										<div class="row">
											<div class="col-xs-9">{{debito.descricao_lancamento}}</div>
											<div class="col-xs-9">{{debito.descircao_plano}}</div>
											<div class="col-xs-2">{{(debito.categoria == 7 || debito.categoria == 10  ? '-' : '')+ debito.valor | currency:'R$ '}}</div>
											<div class="col-xs-2">{{debito.saldo_receber | currency:'R$ '}}</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- SALDO A RECEBER -->
						<div id="menu2" class="tab-pane fade in active" ng-if="data.tabStatus === 'SaldoReceber'">
							<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
								<a class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-1"><input class="form-check-input" type="checkbox"></div>
										<div class="col-xs-6">DESCRIÇÃO<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-6">PLANO DE CONTAS<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-4">VALOR<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-4">SALDO A RECEBER<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3 text-right">
											<button data-toggle="modal" data-target="#negociarDebitos" class="btn btn-default" style="margin-top: -15px;">PROVISIONAR</button>
										</div>
									</div>
								</a>
								<div class="ba__admin-table-scroll col-xs-24">
									<a class="list-group-item ba__font-size-12" ng-repeat="saldoReceber in data.saldosReceber">
										<div class="row">
											<div class="col-xs-1"><input class="form-check-input" type="checkbox"></div>
											<div class="col-xs-6">Lançamento em duplicidade</div>
											<div class="col-xs-6">Cabeamento de Fibra Ótica</div>
											<div class="col-xs-4">R$ 79,45</div>
											<div class="col-xs-4">R$ 0,00</div>
											<div class="col-xs-3">&nbsp;</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- ORDEM DE PAGAMENTO -->
						<div id="menu3" class="tab-pane fade in active" ng-if="data.tabStatus === 'OrdemPagamento'">
							<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
								<a class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-3">SITUAÇÃO DO TÍTULO<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">DT. VENCIMENTO ORIGEM<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">DT. VENCIMENTO<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-2">PAGO<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-3">NOSSO NÚMERO<i class="ba__margin-horizontal-5"></i></div>
										<div class="col-xs-3">VALOR ORIGEM<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">VALOR DO TÍTULO<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-4"><i class="ba__margin-horizontal-5"></i></div>
									</div>
								</a>
								<div class="ba__admin-table-scroll col-xs-24">
									<a class="list-group-item ba__font-size-12" ng-repeat="ordemPagamento in data.ordensPagamento" >
										<div class="row" >
											<div>
												<div class="col-xs-3" ng-click="openDetalhes(ordemPagamento)" >{{ordemPagamento.situacao}}</div>
												<div class="col-xs-3" ng-click="openDetalhes(ordemPagamento)">{{ordemPagamento.data_vencimento_origem | date:"dd/MM/yyyy" }}</b>
												</div>
												<div class="col-xs-3" ng-click="openDetalhes(ordemPagamento)">{{ordemPagamento.data_vencimento | date:"dd/MM/yyyy" }}</b>
												</div>
												<div class="col-xs-2" ng-click="openDetalhes(ordemPagamento)">{{ordemPagamento.situacao === 'Compensado' ? 'Sim' : 'Não'}}</div>
												<div class="col-xs-3" ng-click="openDetalhes(ordemPagamento)">{{ordemPagamento.nosso_numero}}</div>
												<div class="col-xs-3" ng-click="openDetalhes(ordemPagamento)">{{ordemPagamento.valor_origem | currency}}</div>
												<div class="col-xs-3" ng-click="openDetalhes(ordemPagamento)">{{ordemPagamento.valor | currency}}</div>
												<div class="col-xs-4"></div>
												<div class="col-xs-4">
													<i ng-style="isAcoes(ordemPagamento,1) && {'cursor': 'not-allowed'}" class="fa fa-dollar icone-lista" title="Receber título" ng-if="accessPagina.inserir"
													  ng-click="!isAcoes(ordemPagamento,1) && openReceberTitulo(ordemPagamento)"></i>
													<i class="fa fa-print ba__margin-left-15 icone-lista" title="Visualizar boleto" ng-click="gerarBoleto(ordemPagamento.id)"></i>
													<i ng-style="isAcoes(ordemPagamento) && {'cursor': 'not-allowed'}" class="fa fa-envelope ba__margin-left-15" title="Enviar por e-mail"
													   ng-click="!isAcoes(ordemPagamento) && enviaEmail(ordemPagamento.id)"></i>
													<i ng-style="isAcoes(ordemPagamento) && {'cursor': 'not-allowed'}" class="fa fa-refresh ba__margin-left-15" title="Atualizar boleto"
													  ng-click="!isAcoes(ordemPagamento) && showProvisionarTituloModal(ordemPagamento)" ng-if="accessPagina.editar"></i>
													<i ng-style="isAcoes(ordemPagamento) && {'cursor': 'not-allowed'}" class="fa fa-download ba__margin-left-15" title="Download da remessa"
													  ng-click="!isAcoes(ordemPagamento) && downloadRemessa(ordemPagamento.id)"></i>
													<!--<i class="fa fa-close ba__margin-left-15" title="Cancelar título" ng-click="cancelarTitulo(ordemPagamento.id)"></i>-->
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--MODAL NEGOCIAR DEBITOS-->
<div class="modal fade" id="negociarDebitos" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-nova-conta" role="document">
		<div class="modal-content" style="height: 850px">
			<div class="modal-header ba__no-padding-top" style="height: 300px; border: none">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
					<span>Negociar debitos</span>
				</h4>

				<div class="row" style="margin: 80px 60px 30px 60px">
					<div class="col-md-24">
						<div class="col-md-24">
							<div class="col-md-3">
								<h5 class="text-gray"><b>Saldo a receber</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>
							</div>

							<div class="col-md-3">
								<h5 class="text-gray"><b>V. Provisionado</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>

							</div>
							<div class="col-md-3">
								<h5 class="text-gray"><b>V. Adicional</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>

							</div>
							<div class="col-md-3">
								<h5 class="text-gray"><b>V. Entrada</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>

							</div>
						</div>
						<div class="col-md-24">
							<div class="col-md-3">
								<h5 class="text-gray"><b>Juros</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray"><b>Multa</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray"><b>Correção</b></h5>
							</div>
							<div class="col-md-3">
								<h5>R$ 0,00</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 30px 0 0 0; margin-bottom: 35px">
					<!-- progressbar -->
					<ul id="progressbar">
						<li class="active"><span>Forma de Pagamento</span></li>
						<li><span>Parcelamento</span></li>
						<li><span>Abatimentos</span></li>
						<li><span>Dados da Parcela</span></li>
						<li><span>Confirmação</span></li>
					</ul>
				</div>
			</div>
			<div class="modal-body ba__modal-body-contas-a-pagar">

				<form id="msform">
					<!-- fieldsets -->

					<!-- FORMA DE PAGAMENTO -->
					<fieldset>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Forma de pagamento</h4>
							</div>
							<div class="col-md-10 col-md-offset-1" style="text-align: left;">
								<label class="radio-inline"><input type="radio" name="optradio">Dinheiro</label>
								<label class="radio-inline"><input type="radio" name="optradio">Cheque</label>
								<label class="radio-inline"><input type="radio" name="optradio">Título</label>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Carteiras disponíveis</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select class="col-md-24 ba__input-select" enter>
									<option value="">Selecione..</option>
									<option value="">SANTANDER - 65361</option>
								</select>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Layout do arquivo</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select class="col-md-24 ba__input-select" enter>
									<option value="">Selecione..</option>
									<option value="">ABC123</option>
								</select>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Nome do parceiro</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select class="col-md-24 ba__input-select" enter>
									<option value="">Selecione..</option>
									<option value="">JOSÉ DIAS</option>
								</select>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Refrência</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select class="col-md-24 ba__input-select" enter>
									<option value="">Selecione..</option>
									<option value="">Qd. 01 Lt 01</option>
								</select>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Data do agendamento inicial</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select class="col-md-24 ba__input-select" enter>
									<option value="">Selecione..</option>
									<option value="">SANTANDER - 65361</option>
								</select>
							</div>
						</div>

						<div class="col-md-24">
							<h4 class="col-xs-8 modal-title Roboto-Thin ba__font-size-25" style="padding: 20px 0 40px 0;">
								<span>CUSTO ADICIONAL</span>
							</h4>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Valor adicional</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00">
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Descrição do acréscimo</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="">
							</div>
						</div>

						<input type="button" name="next" class="next btn btn-success" value="Próximo passo" />

					</fieldset>

					<!-- PARCELAMENTO -->
					<fieldset>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Quantidade de parcelas</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select class="col-md-24 ba__input-select" enter>
									<option value="">Selecione..</option>
									<option value="">1x</option>
									<option value="">2x</option>
									<option value="">3x</option>
									<option value="">4x</option>
								</select>
							</div>
						</div>

						<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
							<a class="list-group-item disabled">
								<div class="row uppercase" style="padding-left: 4px">
									<div class="col-xs-8">TIPO DE PARCELAMENTO<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-8">DATA DE VENCIMENTO<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-8">SALDO A RECEBER<i class="ba__margin-horizontal-5"></i></div>
								</div>
							</a>
							<div class="ba__admin-table-scroll col-xs-24">
								<a class="list-group-item ba__font-size-12">
									<div class="row">
										<div class="col-xs-8"><b>Tipo de parcelamento</b></div>
										<div class="col-xs-8"><b>01/01/2017</b></div>
										<div class="col-xs-8"><b>R$ 79,45</b></div>
									</div>
								</a>
							</div>
						</div>

						<br><br><br><br>

						<input type="button" name="previous" class="previous btn btn-success" value="Voltar" />
						<input type="button" name="next" class="next btn btn-success" value="Próximo passo" />
					</fieldset>

					<!-- ABATIMENTOS -->
					<fieldset>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Valor da entrada</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00">
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Data do recebimento</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017">
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Número comprovante de recebimento</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="">
							</div>
						</div>

						<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
							<a class="list-group-item disabled">
								<div class="row uppercase" style="padding-left: 4px">
									<div class="col-xs-6">LANÇAMENTO<i class="ba__margin-horizontal-5"></i></div>
									<div class="col-xs-6">VALOR DO DESCONTO<i class="ba__margin-horizontal-5"></i></div>
									<div class="col-xs-6">VALOR TOTAL DO LANÇAMENTO<i class="ba__margin-horizontal-5"></i></div>
									<div class="col-xs-6">DESCRIÇÃO DO DESCONTO<i class="ba__margin-horizontal-5"></i>
									</div>
								</div>
							</a>
							<div class="ba__admin-table-scroll col-xs-24">
								<a class="list-group-item ba__font-size-12">
									<div class="row">
										<div class="col-xs-6"><b>Lançamento</b></div>
										<div class="col-xs-6">
											<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 10,00">
										</div>
										<div class="col-xs-6"><b>R$ 79,45</b></div>
										<div class="col-xs-6">
											<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="">
										</div>
									</div>
								</a>
							</div>
						</div>

						<br><br><br><br>

						<input type="button" name="previous" class="previous btn btn-success" value="Voltar" />
						<input type="button" name="next" class="next btn btn-success" value="Próximo passo" />
					</fieldset>

					<!-- DADOS DA PARCELA -->
					<fieldset>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Valor do título</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 100,00">
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Data de vencimento</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017">
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Valor do cheque</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00">
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Código do Banco</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="321654987">
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data de emissão</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017">
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Agência</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="4752">
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data pré datado</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017">
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Conta bancária</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="321654987">
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data do vencimento</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017">
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Número</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="321654987">
								</div>
							</div>
						</div>

						<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
							<a class="list-group-item disabled">
								<div class="row uppercase" style="padding-left: 4px">
									<div class="col-xs-8">TIPO DE LANÇAMENTO<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-8">TIPO DE OPERAÇÃO<i class="ba__margin-horizontal-5"></i></div>
									<div class="col-xs-8">VALOR PROVISIONADO<i class="ba__margin-horizontal-5"></i>
									</div>
								</div>
							</a>
							<div class="ba__admin-table-scroll col-xs-24">
								<a class="list-group-item ba__font-size-12">
									<div class="row">
										<div class="col-xs-8"><b>Lançamento</b></div>
										<div class="col-xs-8"><b>Provisão</b></div>
										<div class="col-xs-8"><b>R$ 80,00</b></div>
									</div>
								</a>
							</div>
						</div>

						<br><br><br><br>

						<input type="button" name="previous" class="previous btn btn-success" value="Voltar" />
						<input type="button" name="next" class="next btn btn-success" value="Próximo passo" />
					</fieldset>

					<!-- CONFIRMAÇAO -->
					<fieldset>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Valor do título</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 100,00" disabled>
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data de vencimento</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017" disabled>
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Valor do cheque</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 100,00" disabled>
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Código do banco</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="102" disabled>
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data de emissão</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017" disabled>
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Agência</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="2463" disabled>
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data pré datado</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017" disabled>
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Conta bancária</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="2463" disabled>
								</div>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Data de vencimento</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="01/01/2017" disabled>
								</div>
							</div>
							<div class="col-md-8">
								<div class="col-md-12">
									<h4 class="text-right text-gray">Número</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="2463" disabled>
								</div>
							</div>
						</div>

						<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
							<a class="list-group-item disabled">
								<div class="row uppercase" style="padding-left: 4px">
									<div class="col-xs-8">TIPO DE LANÇAMENTO<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-8">TIPO DE OPERAÇÃO<i class="ba__margin-horizontal-5"></i></div>
									<div class="col-xs-8">VALOR PROVISIONADO<i class="ba__margin-horizontal-5"></i>
									</div>
								</div>
							</a>
							<div class="ba__admin-table-scroll col-xs-24">
								<a class="list-group-item ba__font-size-12">
									<div class="row">
										<div class="col-xs-8"><b>Lançamento</b></div>
										<div class="col-xs-8"><b>Provisão</b></div>
										<div class="col-xs-8"><b>R$ 80,00</b></div>
									</div>
								</a>
							</div>
						</div>

						<br><br><br><br>

						<input type="button" name="previous" class="previous btn btn-success" value="Voltar" />
						<input type="submit" name="submit" class="submit btn btn-success" value="Efetuar negociação" />
					</fieldset>
				</form>
			</div>

			<div class="modal-footer" style="margin-top: 20px">
				<button type="button" data-dismiss="modal" class="btn btn-default btn-clear col-md-3">
					cancelar
				</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL Demonstrativo Ordem Pagamento-->
<div class='modal fade' id='demonstrativo'>
	<div class='modal-dialog' style="width: 50%">
		<div class='modal-content'>
			<div class='modal-header'>
				<h4 class='modal-title'>Demonstrativo Ordem Pagamento</h4>
			</div>

			<div class='modal-body'>
				<div class="container">
					<br><br>
					<h5><strong>Situação: </strong> {{data.detalhePagamento.situacao}}</h5>
					<h5><strong>Nosso Número: </strong> {{data.detalhePagamento.nosso_numero}}</h5>
					<h5><strong>Nosso Número Origem: </strong> {{data.detalhePagamento.nosso_numero_origem}}</h5>
					<h5><strong>Data Vencimento: </strong> {{data.detalhePagamento.data_vencimento | date:'dd/MM/yyyy'}}</h5>
					<h5><strong>Data Vencimento Origem: </strong> {{data.detalhePagamento.data_vencimento_origem | date:'dd/MM/yyyy'}}</h5>
					<h5><strong>Valor: </strong> {{data.detalhePagamento.valor  | currency}}</h5>
					<h5><strong>Valor Origem: </strong>{{data.detalhePagamento.valor_origem  | currency}}</h5>
					<h5><strong>Data Pagamento: </strong>{{data.detalhePagamento.data_recebimento}}</h5>
					<h5><strong>Data Compensação: </strong> {{data.detalhePagamento.data_compensado}}</h5>
					<h5><strong>Observação:</strong> {{data.detalhePagamento.observacao}}</h5>
				</div>
			</div>

			<div class='modal-footer'>
				<button type='button' class='btn btn-default' ng-click='closeModalDemonstrativo()'>Fechar</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL Receber Títulos -->
<div class="modal fade" id="receberTitulo" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-info-banco-contas" role="document" style="
    width: 50%;">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
					<span>Receber título </span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-info-banco-contas">
				<form>
					<div class="row">
						<div class="form-group col-xs-24">
							<div class="alert alert-warning" ng-show="data.recebimentoTitulo.received">
								<strong>Atenção!</strong> Título já foi compensado ao menos uma vez. Concordo em: </br>
								<label>
									<input type="radio" ng-model='data.recebimentoTitulo.i_agree' value="cancelar"> Cancelar e receber o título novamente
								</label>
								<label>
									<input type="radio" ng-model="data.recebimentoTitulo.i_agree" value="duplicar"> Receber em duplicidade
								</label>
							</div>
							<div class="row ba__margin-bottom-10 ba__margin-top-20">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor do título</h4>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 100,00" style="text-transform:uppercase; height: 60px; margin-top: -10px"
										   ng-model="data.recebimentoTitulo.valor_titulo" ui-money-mask disabled>
								</div>
							</div>
							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Data do pagamento</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="01/01/2017" mask="39/19/9999" style="text-transform:uppercase" ng-model="data.recebimentoTitulo.data_pagamento"
										   ng-blur="calcJurosMulta(data.recebimentoTitulo.id_titulo,data.recebimentoTitulo.data_vencimento_origem,data.recebimentoTitulo.data_pagamento,'Receber',data.recebimentoTitulo.valor_titulo);">
								</div>
								<div class="col-md-6">
									<button type="button" ng-click="calcJurosMulta(data.recebimentoTitulo.id_titulo,data.recebimentoTitulo.data_vencimento_origem,data.recebimentoTitulo.data_pagamento,'Receber',data.recebimentoTitulo.valor_titulo);"
											class="btn btn-default col-xs-15  col-xs-offset-1">
										Calcular
									</button>
                                    <span id="calculando">
                                        <i class="fa fa-spinner fa-pulse fa-1x"></i> <i> &nbsp;&nbsp;calculando...</i>
                                    </span>
								</div>
							</div>

							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor Juros</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 0,00" ui-money-mask style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_juros" ng-blur="atualizaValorReceber()">
										   <!--ng-blur="data.recebimentoTitulo.valor_receber = data.recebimentoTitulo.valor_titulo + data.recebimentoTitulo.valor_juros + data.recebimentoTitulo.valor_multa">-->
								</div>
							</div>

							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor Multa</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 0,00" ui-money-mask style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_multa" ng-blur="atualizaValorReceber()">
										   <!--ng-blur="data.recebimentoTitulo.valor_receber = data.recebimentoTitulo.valor_titulo + data.recebimentoTitulo.valor_juros + data.recebimentoTitulo.valor_multa">-->
								</div>
							</div>
							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor Jurídico</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 0,00" ui-money-mask style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_juridico" ng-blur="atualizaValorReceber()">
										   <!--ng-blur="data.recebimentoTitulo.valor_receber = data.recebimentoTitulo.valor_titulo + data.recebimentoTitulo.valor_juros + data.recebimentoTitulo.valor_multa + data.recebimentoTitulo.valor_juridico">-->
								</div>
							</div>
							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor Correção</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 0,00" ui-money-mask style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_correcao" ng-blur="atualizaValorReceber()">
										   <!--ng-blur="data.recebimentoTitulo.valor_receber = data.recebimentoTitulo.valor_titulo + data.recebimentoTitulo.valor_juros + data.recebimentoTitulo.valor_multa + data.recebimentoTitulo.valor_correcao">-->
								</div>
							</div>
							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor Desconto</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 0,00" ui-money-mask style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_desconto" ng-blur="atualizaValorReceber()">
										   <!--ng-blur="data.recebimentoTitulo.valor_receber = data.recebimentoTitulo.valor_titulo + data.recebimentoTitulo.valor_juros + data.recebimentoTitulo.valor_multa">-->
								</div>
							</div>
							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor Abatimento</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 0,00" ui-money-mask style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_abatimento" ng-blur="atualizaValorReceber()">
										   <!--ng-blur="data.recebimentoTitulo.valor_receber = data.recebimentoTitulo.valor_titulo + data.recebimentoTitulo.valor_juros + data.recebimentoTitulo.valor_multa">-->
								</div>
							</div>
							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor a receber</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 100,00" style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_receber"
										   ui-money-mask disabled >
								</div>
							</div>

							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Valor pago</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="R$ 100,00" style="text-transform:uppercase" ng-model="data.recebimentoTitulo.valor_pago"
										   ui-money-mask>
								</div>
							</div>

							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Data da compensação</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<input type="text" class="ba__input-modal" placeholder="01/01/2017" mask="39/19/9999" style="text-transform:uppercase" ng-model="data.recebimentoTitulo.data_compensacao">
								</div>
							</div>

							<div class="row ba__margin-bottom-30">
								<div class="col-md-6">
									<h4 class="text-right text-gray">Observação</h4>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<textarea name="obs" id="obs" cols="50" rows="5" ng-model="data.recebimentoTitulo.observacao"></textarea>
								</div>
							</div>

						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default btn-clear col-xs-8 col-xs-offset-6 btnVeiculo" ng-click="closeReceberTitulo()">
					Cancelar
				</button>
				<button type="button" class="btn btn-success col-xs-9 col-xs-push-1 btnFocus btnVeicul" ng-if="accessPagina.inserir" ng-click="receberTitulo()">
					Confirmar
				</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL Provisionar  Titulo-->
<div class="modal fade" id="provisionarTitulo" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog" role="document" style="width: 900px">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Provisionar título</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-tipo-lancamento ba__margin-top-7">
				<form>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Carteira lançamento avulso</h5>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<select class="ba__input-select" ng-model="data.provisionarTitulo.id_configuracao_carteira" enter ng-options="carteiraDisponivel.id_carteira_conta as carteiraDisponivel.descricao for carteiraDisponivel in data.carteirasDisponiveis">
							</select>
						</div>
					</div>

					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Layout do arquivo de lançamento</h5>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<select class="ba__input-select" ng-model="data.provisionarTitulo.id_layout_remessa" enter ng-options="layoutArquivo.id as layoutArquivo.descricao for layoutArquivo in data.layoutArquivos">
							</select>
						</div>
					</div>

					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Novo Vencimento</h5>
						</div>
						<div class="col-md-12 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.data_vencimento" style="text-transform:uppercase"
							  mask="39/19/9999">
						</div>
					</div>

					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Com correção?</h5>
						</div>
						<div class="col-md-3 col-md-offset-1 ba__margin-top-5">
							<div class="col-xs-7    ">
								<div class="onoffswitch">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" enter ng-model="data.provisionarTitulo.com_correcao"
									  id="fixo">
									<label class="onoffswitch-label" for="fixo">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<h5 class="col-xs-3">
							<span class="pull-left" style="font-size: 20px; margin-left: -10px; ">
                                <span ng-show="data.provisionarTitulo.com_correcao" class="text-positive">SIM</span>
							<span ng-show="!data.provisionarTitulo.com_correcao">NÃO</span>
							</span>
						</h5>
					</div>
					<div class="row ba__margin-bottom-30" ng-if="data.provisionarTitulo.com_correcao">
							<div class="col-md-6">
								<h5 class="text-right text-gray">Correção até</h5>
							</div>
							<div class="col-md-6 col-md-offset-1">
								<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.data_correcao" style="text-transform:uppercase"
								  mask="39/19/9999">
							</div>
							<div class="col-md-6">
								<button type="button" ng-click="calcJurosMulta(data.provisionarTitulo.id_parcela,data.provisionarTitulo.data_vencimento_origem,data.provisionarTitulo.data_correcao,'Atualizar');"
								  class="btn btn-success col-xs-15 col-xs-offset-9">
                                Calcular
                                </button>
						</div>
					</div>
					<div class="row ba__margin-bottom-30" ng-show="data.calcDiv" ng-if="data.provisionarTitulo.com_correcao">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Juros</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.juros" ui-money-mask style="text-transform:uppercase" ng-blur="atualizaValorTotal()">
						</div>
					</div>
					<div class="row ba__margin-bottom-30" id="multa" ng-show="data.calcDiv" ng-if="data.provisionarTitulo.com_correcao">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Multa</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.multa" ui-money-mask style="text-transform:uppercase" ng-blur="atualizaValorTotal()">
						</div>
					</div>
					<div class="row ba__margin-bottom-30" ng-show="data.calcDiv" ng-if="data.provisionarTitulo.com_correcao">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Outros lançamentos?</h5>
						</div>
						<div class="col-md-3 col-md-offset-1 ba__margin-top-5">
							<div class="col-xs-7    ">
								<div class="onoffswitch">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" enter ng-model="data.provisionarTitulo.mais_lancamentos"
										   id="mais_lancamentos">
									<label class="onoffswitch-label" for="mais_lancamentos">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<h5 class="col-xs-3">
							<span class="pull-left" style="font-size: 20px; margin-left: -10px; ">
                                <span ng-show="data.provisionarTitulo.mais_lancamentos" class="text-positive">SIM</span>
							<span ng-show="!data.provisionarTitulo.mais_lancamentos">NÃO</span>
							</span>
						</h5>
					</div>
					<div class="row ba__margin-bottom-30" id="juridico" ng-show="data.calcDiv" ng-if="data.provisionarTitulo.mais_lancamentos">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Jurídico</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.valor_juridico" ui-money-mask style="text-transform:uppercase" ng-blur="atualizaValorTotal()">
						</div>
					</div>
					<div class="row ba__margin-bottom-30" id="correcao" ng-show="data.calcDiv" ng-if="data.provisionarTitulo.mais_lancamentos">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Correção</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.valor_correcao" ui-money-mask style="text-transform:uppercase" ng-blur="atualizaValorTotal()">
						</div>
					</div>
					<div class="row ba__margin-bottom-30" id="desconto" ng-show="data.calcDiv" ng-if="data.provisionarTitulo.mais_lancamentos">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Desconto</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.valor_desconto" ui-money-mask style="text-transform:uppercase" ng-blur="atualizaValorTotal()">
						</div>
					</div>
					<div class="row ba__margin-bottom-30" id="abatimento" ng-show="data.provisionarTitulo.mais_lancamentos" ng-if="data.provisionarTitulo.mais_lancamentos">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Abatimento</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.valor_abatimento" ui-money-mask style="text-transform:uppercase" ng-blur="atualizaValorTotal()">
						</div>
					</div>
					<div class="row ba__margin-bottom-30" id="total">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor Total</h5>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.provisionarTitulo.valor_total" disabled ui-money-mask style="text-transform:uppercase">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default col-md-8 col-md-offset-7">
					Cancelar
				</button>
				<button class="btn btn-success col-md-8 col-md-offset-1 pull-right" ng-click="atualizaBoleto()">
					Provisionar título
				</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL Alterar Endereço -->
<div class="modal fade" id="alterarEndereco" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-loading" role="document" style="width: 900px">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Alterar endereço</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-cancelar-processamento" style="height: 600px">
				<form>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6 col-md-offset-3">
							<h4 class="text-right text-gray">Endereço do sacado</h4>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<select class="col-md-24 ba__input-select" enter>
								<option value="">Selecione..</option>
								<option value="">Avenida X</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default col-md-8 col-md-offset-7">
					Cancelar
				</button>
				<button type="button" type="submit" class="btn btn-success col-md-8 col-md-offset-1 pull-right">
					Atualizar endereço
				</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL buscando lancamentos-->
<div class="modal fade" id="loading" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-loading" role="document">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Buscando</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-loading">
				<form>
					<div class="row ba__margin-top-30">
						<i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
						<h5 class="col-md-19 text-gray ba__margin-top-20"><b>Estamos realizando a busca. Aguarde um instante...</b></h5>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--MODAL loading Atualizar titulo-->
<div class="modal fade" id="loadingAtualizarTitulo" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-loading" role="document">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Provisionando Título</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-loading">
				<form>
					<div class="row ba__margin-top-30">
						<i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
						<h5 class="col-md-19 text-gray ba__margin-top-20"><b>Estamos atualizando, aguarde um instante...</b></h5>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!--MODAL prê- lancamento-->
<div class="modal fade" id="preLancamento" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-loading" role="document" style="width: 900px">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Programar Pré-Lançamento</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-cancelar-processamento" style="height: 600px">
				<form>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Valor</h5>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<input type="text" class="ba__input-modal" ng-model="data.preLancamento.valor" style="text-transform:uppercase" ui-money-mask
								   placeholder="R$ 0,00" disabled>
						</div>
					</div>
					<div class="row ba__margin-bottom-30">
						<div class="col-md-6">
							<h5 class="text-right text-gray">Mês / Ano</h5>
						</div>
						<div class="col-md-8 col-md-offset-1">
							<!--<select class="ba__input-select" ng-model="data.preLancamento.mes" enter ng-options="mes.codigo as mes.nome for mes in data.meses">
								<option value='' selected>Selecione o mês</option>
							</select>-->
                            <select class="ba__input-select" ng-model="data.preLancamento.mes">
                                <option selected value="">Selecione o mês</option>
                                <option ng-repeat="mes in data.meses" ng-value="mes.codigo">{{mes.nome}}</option>
                            </select>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<input type="number" placeholder="ANO" class="ba__input-modal" ng-model="data.preLancamento.ano" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default col-md-8 col-md-offset-7">
					Cancelar
				</button>
				<button type="button" type="submit" class="btn btn-success col-md-8 col-md-offset-1 pull-right" ng-click="preLancamento()">
					Salvar
				</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL GERANDO REMESSA-->
<div class="modal fade" id="loading-gerar_remessa" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-loading" role="document">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Download arquivo de remessa</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-loading">
				<form>
					<div class="row ba__margin-top-30">
						<i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
						<h5 class="col-md-19 text-gray ba__margin-top-20">
							<b>Carregando...</b>
						</h5>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--MODAL buscando lancamentos-->
<div class="modal fade" id="loadingPdf" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-loading" role="document">
		<div class="modal-content">
			<div class="modal-header ba__no-padding-top">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
					<span>Aguarde...</span>
				</h4>
			</div>
			<div class="modal-body ba__modal-body-loading">
				<form>
					<div class="row ba__margin-top-30">
						<i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--MODAL boleto-->
<div class="modal fade relatorio-modal" id="showPdf" tabindex="-1" role="dialog" data-backdrop="static"
	 data-keyboard="false">
	<h1 data-dismiss="modal">X</h1>
	<object data="{{content}}" type="application/pdf"></object>
</div>