@charset 'UTF-8';
.opcoes {
    margin: 10px;
}

.opcoes.open {
    margin: 10px;
}

.opcoes .dropdown-menu > li {
    margin-left: 15px;
}


/* *** Regras genéricas (início). *** */
.home
{
    white-space: nowrap
}

.home .logo
{
    background: url('../../img/logo_ba_comunicacao.png') no-repeat center center
}

.home header, .home header .user, .home .filter
{
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 0
}

.home label
{
    color: rgb(89, 95, 101);
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px
}

.home input, .home textarea, .home select
{
    border-radius: 0;
    border-style: solid;
    border-color: #cbcbcb;
    border-width: 0 0 1px;
    box-shadow: none;
    font-size: 20px;
    height: 44px;
    text-transform: uppercase
}

.home input:focus, .home textarea:focus, .home select:focus
{
    border-color: #ed6c44;
    background: #f3f3f3
}

.home textarea
{
    border-width: 1px;
    height: auto;
    resize: vertical
}

.home select, .home select:focus
{
    background: transparent url('../../img/arrow_gray.png') no-repeat 97% center;
    background-size: 20px
}

.home select
{
    padding: 6px 9px;
    min-width: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.home input[type=number]
{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

.home fieldset:not(:last-child)
{
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 20px;
    margin-bottom: 40px
}

.home legend
{
    color: #666;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    display: block
}

.home .btn
{
    height: 44px;
    min-width: 60px;
    border-radius: 4px;
    padding: 7px 30px
}

.home .btn .fa-history
{
    font-size: 20px
}
/* *** Regras genéricas (fim). *** */

/* *** Regras específicas para o cabeçalho (início). *** */
.home header
{
    border-bottom-width: 1px
}

.home header
{
    height: 70px
}

/* Todos os elementos internos de header, devem ter a altura definida para
header. */
.home header *
{
    height: inherit
}

/* O logo no cabeçalho deve, adicionalmente, ter fundo laranja e dimensões como
definidas abaixo */
.home header .logo
{
    background-color: #ed6c44;
    background-size: 177px 39px
}

/* Essas regras estão separadas porque são necessárias apenas quando o logo
   está em um h1. O logo deve estar em um h1 por questões de usabilidade. */
.home header h1.logo
{
    margin: 0;
    text-indent: -9999px
}

.home header h2
{
    width: calc(100% - 300px);
    margin: 0;
    float: left;
    font: 28px/70px Roboto-Thin, sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis
}

.home header h2 .icon-ba-house
{
    display: inline-block;
    font-size: 21px;
    line-height: inherit;
    vertical-align: top
}

.home header .user
{
    width: 300px;
    float: left;
    border-left-width: 1px
}

/* Essas regras estão separadas porque são necessárias apenas porque a sombra
   não deve ser mostrada à direita e isso é causado pelo padding do bootstrap. */
.home header .user
{
    width: 315px;
    margin-right: -15px;
    box-shadow: -3px 0px 29px -11px #969696
}

.home header .user > *
{
    display: inline-block;
    line-height: 70px;
    vertical-align: top
}

/* Essa regra está separada porque é um hack para contornar o comportamento dos
   elementos inline-block de renderizar espaços entre tags. */
.home header .user
{
    font-size: 0
}

.home header .user img
{
    width: 44px;
    height: 44px;
    margin: 13px 13px 13px 26px;
    border-radius: 50%
}

.home header .user span
{
    width: calc(100% - 153px);
    margin: 0;
    font-size: 19px;
    overflow-x: hidden;
    text-overflow: ellipsis
}

.home header .user a
{
    width: 70px;
    padding-top: 2px;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    color: #8a939c
}

.home header .user a:hover
{
    color: #ca4a4a;
    background: rgba(0, 0, 0, 0.01)
}
/* *** Regras específicas para o cabeçalho (fim). *** */

/* *** Regras específicas para o filtro (início). *** */
.home .filter
{
    border-bottom-width: 1px;
    background: white;
    padding: 15px;
    margin: 0 -15px
}
/* *** Regras específicas para o filtro (fim). *** */

/* *** Regras específicas para a área principal (início). *** */
.home .main
{
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    background: #e5e5e5
}

.home .main .container-fluid
{
    height: 100%
}

.home .main .row, .home .main .content
{
    height: inherit
}

.ba__admin-table
{
    height: auto !important
}

.ba__admin-table-scroll
{
    margin: 0 -15px !important;
    width: auto !important
}

.home .content
{
    display: block;
    background: #e2e6e6;
    box-shadow: -6px 3px 13px -2px #a3a3a3
}

.home .content .result-action
{
    display: flex;
    justify-content: space-between;
    margin: 20px
}

.home .content .result-action h3
{
    margin: 0;
    line-height: 42px;
    font-family: Roboto-Light, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis
}

.home .content .result-action .btn
{
    min-width: 300px;
    text-transform: uppercase
}

.home .list-group
{
    margin: 40px 20px
}

.home .list-group-item:first-child
{
    /* Margem usada para alinhar o cabeçalho com as linhas. As linhas possuem
    uma borda de 4px à esqueda. */
    margin-left: 4px
}

.home .list-group-item:not(:first-child)
{
    font-size: 17px
}

.home .list-group-item:nth-child(even):hover, .home .list-group-item:nth-child(even):focus
{
    background: #eaeaea
}

.home .list-group-item:not(:first-child) .acoes
{
    text-align: center;

    /* Compensa o padding dos elementos list-group-item, para poder fazer com
    que o botão interno tenha a altura equivalente à linha. */
    margin-top: -9px
}

.home .list-group-item:not(:first-child) .acoes .fa
{
    display: inline-block;
    padding: 13px
}

.home .list-group-item:not(:first-child) .acoes .fa:hover
{
    background: rgba(0, 0, 0, .05)
}

.list-group-item a
{
    color: #555555
}

.list-group-item a:hover, .list-group-item a:focus
{
    text-decoration: none
}
/* *** Regras específicas para a área principal (fim). *** */

/* *** Regras específicas para o modal (início). *** */
.home .modal-dialog
{
    position: absolute;
    top: 50%; left: 50%;

    width: 900px;
    max-height: 96vh;

    margin: auto;
    overflow-y: hidden;

    -webkit-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important

}

.home .modal-dialog .modal-content
{
    overflow-y: unset;
    padding: 30px;
    height: 100%
}

.home .modal-dialog .modal-header h4
{
    font-size: 31px;
    font-family: Roboto-Thin, sans-serif;
    height: 45px
}

.home .modal-dialog .modal-body
{
    max-height: calc(96vh - 190px);
    overflow-y: auto
}

.home .form-group.historico .btn
{
    font-size: 14px
}

.home .modal-dialog .modal-footer
{
    text-align: right
}

.home .modal-dialog .modal-footer .revogar-baixa
{
    color: #8a939c;
    float: left;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 45px;
    height: 42px
}

.home .modal-dialog .modal-footer .revogar-baixa:hover
{
    color: #ca4a4a
}

.home .modal-dialog .modal-footer .btn
{
    width: 175px;
    height: 42px
}

.home .modal-dialog section.bens
{
    background: #e2e6e6;
    padding: 40px
}

.home .modal-dialog section.bens .list-group
{
    margin: 0
}

.home .modal-dialog .switch-retorno
{
    padding-top: 4px
}

.home .modal-dialog .onoffswitch
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 2px;
    height: 30px
}

.home .modal-dialog .onoffswitch-label:before
{
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.4)
}

.home .modal-dialog .onoffswitch-label
{
    border: none;
    height: 24px
}

.home .modal-dialog .retorno
{
    font-weight: bold
}

.home .modal-dialog .retorno.success
{
    color: #00ce7c
}

button span
{
    color: unset
}
/* *** Regras específicas para o modal (fim). *** */

/* *** Regras para resetar algumas propriedades de css do Bootstrap que não deveriam ter sido alteradas (início). *** */
.home .btn-default
{
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.home .btn-default, .home .btn-warning
{
    border: none
}

.home .ui-select-choices-row:not(:last-child)
{
    border-bottom: 1px solid #dedede
}

.home .container-fluid
{
    padding-left: 15px;
    padding-right: 15px
}

.home .row
{
    margin-left: -15px;
    margin-right: -15px
}

.home .col-xs-1, .home .col-sm-1, .home .col-md-1, .home .col-lg-1, .home .col-xs-2, .home .col-sm-2, .home .col-md-2, .home .col-lg-2, .home .col-xs-3, .home .col-sm-3, .home .col-md-3, .home .col-lg-3, .home .col-xs-4, .home .col-sm-4, .home .col-md-4, .home .col-lg-4, .home .col-xs-5, .home .col-sm-5, .home .col-md-5, .home .col-lg-5, .home .col-xs-6, .home .col-sm-6, .home .col-md-6, .home .col-lg-6, .home .col-xs-7, .home .col-sm-7, .home .col-md-7, .home .col-lg-7, .home .col-xs-8, .home .col-sm-8, .home .col-md-8, .home .col-lg-8, .home .col-xs-9, .home .col-sm-9, .home .col-md-9, .home .col-lg-9, .home .col-xs-10, .home .col-sm-10, .home .col-md-10, .home .col-lg-10, .home .col-xs-11, .home .col-sm-11, .home .col-md-11, .home .col-lg-11, .home .col-xs-12, .home .col-sm-12, .home .col-md-12, .home .col-lg-12, .home .col-xs-13, .home .col-sm-13, .home .col-md-13, .home .col-lg-13, .home .col-xs-14, .home .col-sm-14, .home .col-md-14, .home .col-lg-14, .home .col-xs-15, .home .col-sm-15, .home .col-md-15, .home .col-lg-15, .home .col-xs-16, .home .col-sm-16, .home .col-md-16, .home .col-lg-16, .home .col-xs-17, .home .col-sm-17, .home .col-md-17, .home .col-lg-17, .home .col-xs-18, .home .col-sm-18, .home .col-md-18, .home .col-lg-18, .home .col-xs-19, .home .col-sm-19, .home .col-md-19, .home .col-lg-19, .home .col-xs-20, .home .col-sm-20, .home .col-md-20, .home .col-lg-20, .home .col-xs-21, .home .col-sm-21, .home .col-md-21, .home .col-lg-21, .home .col-xs-22, .home .col-sm-22, .home .col-md-22, .home .col-lg-22, .home .col-xs-23, .home .col-sm-23, .home .col-md-23, .home .col-lg-23, .home .col-xs-24, .home .col-sm-24, .home .col-md-24, .home .col-lg-24
{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}


.card-body-icon {
    position: absolute;
    z-index: 0;
    right: 1px;
    font-size: 5rem;
    -ms-transform: rotate(15deg);
}

.home-content {
    background-color: white;
}

.boas-vindas {
    margin: 1%;
    padding-bottom: 1%;
}
.boas-vindas-text {
    color: #ed6c44;
}

.home .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    eight: 100px;
}

.cards-home {
    padding-bottom: 10%;
}

.card-body-text {
    margin: 5%;
}