<div class="row">
    <div class="row ba__margin-top-20">
        <h3 class="col-md-15 Roboto-Light">
            <strong>5</strong> resultados</h3>
        <button type="button"  class="btn btn-encerrarenvios col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px" ng-click="select = null;$('#novoTipo').modal('show')">
            Encerrar Envios
        </button>
    </div>
    <div class="list-group ba__admin-table ba__margin-top-40" style="height: 85%">
        <a class="list-group-item disabled">
            <div class="row uppercase">
                <div class="col-xs-3">Data/Hora
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-2">Status
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Associado
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Pauta
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-6">Título
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-3">Apoio
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-2 text-center"></div>
            </div>
        </a>
        <div class="ba__admin-table-scroll" style="height: 85%;">
            <a class="list-group-item ba__font-size-12 ba__pointer" >
                <div class="row">
                    <div class="col-xs-3">22/02/2021 às 18:43</div>
                    <div class="col-xs-2">pendente</div>
                    <div class="col-xs-4">Bruno Vincicius Moura da...</div>
                    <div class="col-xs-4">Pauta 01</div>
                    <div class="col-xs-6">Há outras prioridades no momento, como...</div>
                    <div class="col-xs-3">nenhum</div>
                    <div class="col-xs-2">
                        <i class="fa fa-eye ba__margin-left-35" title="Visualizar"  ng-click=""></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>