<link rel="stylesheet" href="src/contas-receber/lancamento-avulso/lancamentoAvulso.ctrl.css">

<div class="header">
    <div header></div>
</div>

<div ng-init="ngOnInit()" class="row container-fluid ba__body-content ba__full-width">
    <!--CONTAINER MENU-->
    <div sidebar></div>
    <!--CONTAINER SISTEMA-->
    <div class="col-xs-21 ba__admin-container">
        <!-- INICIO Tela CATEGORIA DE USUÁRIOS-->
        <div class="col-xs-24 ba__admin-container-list">
            <div class="row ba__admin-busca">
                <div class="col-xs-24 input-group ba__admin-busca-input"
                     style="float: left; border: none!important; height: 30px; margin-left: 20px">
                    <span class="input-group-addon" style="height: 60px"></span>
                    <select class="form-group col-xs-4 ba__adminSelectBusca" ng-init="search.type = 'dt_vencimento'"
                            ng-model="search.type" style="height: 50px; border-bottom: 1px solid #cccccc;">
                        <option value="dt_vencimento">Data de vencimento</option>
                        <!-- <option value="dt_compensacao">Data de compensação</option>
            <option value="nosso_numero">Nosso numero</option> -->
                    </select>
                    <div>
                        <input type="date" class="form-group col-xs-2 col-xs-offset-1" ng-model="search.data_inicio"
                               style="height: 50px; border-bottom: 1px solid #cccccc;">
                        <span class="col-xs-1" style="width: 100px">
							<h4 class="text-center">até</h4>
						</span>
                        <input type="date" class="form-group col-xs-2" ng-model="search.data_fim"
                               style="height: 50px; border-bottom: 1px solid #cccccc;">
                    </div>
                    <!-- <div ng-if="search.type == 'nosso_numero'">
                        <span class="col-xs-1"></span>
                        <input type="text" ng-model="search.numero" class="form-group col-xs-3" style="height: 50px; border-bottom: 1px solid #cccccc;">
                    </div> -->
                    <button type="button" class="btn btn-primary col-xs-3 col-xs-offset-1 uppercase"
                            style="margin-top: 12px" ng-click="pesquisar(search)">
                        Pesquisar
                        <i class="icon-ba-search"></i>
                    </button>
                </div>
            </div>
            <div class="row ba__admin-list">
                <div class="row ba__margin-top-20">
                    <div class="col-md-10 col-md-offset-1">
                        <label class="radio-inline ba__input-label">
                            <input class="ba__input-radio" type="radio" ng-model="data.lancamentoFiltro" value="nova"
                                   ng-change="changeTipoCobranca()"/>
                            <h5>Cobrança Nova</h5>
                        </label>
                        <label class="radio-inline ba__input-label">
                            <input class="ba__input-radio" type="radio" ng-model="data.lancamentoFiltro" value="antiga"
                                   ng-change="changeTipoCobranca()"/>
                            <h5>Cobrança Antiga</h5>
                        </label>
                    </div>
                </div>
                <div class="row ba__margin-top-20">
                    <h3 class="col-md-15 Roboto-Light" ng-if="data.lancamentoFiltro === 'nova'">
                        <strong>{{data.lancamentoAvulsos.length || 0}} de {{total}}</strong> lançamentos avulsos</h3>
                    <h3 class="col-md-15 Roboto-Light" ng-if="data.lancamentoFiltro === 'antiga'">
                        <strong>{{data.lancamentoAvulsosAntigos.length || 0}} de {{total}}</strong> lançamentos antigos
                    </h3>
                    <button ng-disabled="!enableBtnNovo" type="button"
                            class="btn btn-success col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px"
                            data-toggle="modal" ng-click="createLancamentoAvulso()" ng-if="accessPagina.inserir">
                        Novo
                    </button>
                </div>
                <div class="list-group ba__admin-table ba__margin-top-40" style="height: 60%;">
                    <a class="list-group-item disabled">
                        <!--NOVA-->
                        <div class="row uppercase" ng-if="data.lancamentoFiltro === 'nova'">
                            <div class="col-xs-2" ng-click="sort('vmImvEmp')">
                                {{prop=='vmImvEmp'&&(reverse?'⬆':'⬇')||''}}Imóvel/Empresa
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-7" ng-click="sort('nome_morador')">Parceiro
                                {{prop=='nome_morador'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-7" ng-click="sort('vmDescricao')">Descrição
                                {{prop=='vmDescricao'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2" ng-click="sort('created_at')">Data base
                                {{prop=='created_at'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2" ng-click="sort('data_vencimento')">Vencimento
                                {{prop=='data_vencimento'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2" ng-click="sort('vmValor')">Valor
                                {{prop=='vmValor'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2 text-center">Ações
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                        </div>
                        <!--ANTIGA-->
                        <div class="row uppercase" ng-if="data.lancamentoFiltro === 'antiga'">
                            <div class="col-xs-2" ng-click="sort('vmImvEmp')">
                                {{prop=='vmImvEmp'&&(reverse?'⬆':'⬇')||''}}Imóvel/Empresa
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-7" ng-click="sort('nome_morador')">Parceiro
                                {{prop=='nome_morador'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-6" ng-click="sort('descricao')">Descrição
                                {{prop=='descricao'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-3" ng-click="sort('data_vencimento')">Data vencimento
                                {{prop=='data_vencimento'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2" ng-click="sort('vmLancamentos')">Lançamentos
                                {{prop=='vmLancamentos'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2" ng-click="sort('vmValor')">Valor total
                                {{prop=='vmValor'&&(reverse?'⬆':'⬇')||''}}
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                            <div class="col-xs-2 text-center">Ações
                                <i class="ba__margin-horizontal-5"></i>
                            </div>
                        </div>
                    </a>
                    <!--NOVA-->
                    <div class="ba__admin-table-scroll ba__pointer" ng-if="data.lancamentoFiltro === 'nova'">
                        <a class="list-group-item ba__font-size-12"
                           ng-click="editLancamentoAvulso(lancamentoAvulso);$event.stopPropagation();"
                           ng-repeat="lancamentoAvulso in data.lancamentoAvulsos  | orderBy:prop:reverse">
                            <div class="row" id="row{{lancamentoAvulso.id_lancamento}}">
                                <div class="col-xs-2">{{lancamentoAvulso.vmImvEmp}}</div>
                                <div class="col-xs-7">{{lancamentoAvulso.nome_morador}}</div>
                                <div class="col-xs-7">{{lancamentoAvulso.vmDescricao}}</div>
                                <div class="col-xs-2">{{lancamentoAvulso.created_at | date:'dd/MM/yyyy'}}</div>
                                <div class="col-xs-2">{{lancamentoAvulso.data_vencimento | date:'dd/MM/yyyy'}}</div>
                                <div class="col-xs-2">{{lancamentoAvulso.vmValor | currency}}</div>
                                <div class="col-xs-2" id="acoes_avulso{{lancamentoAvulso.id_lancamento}}"
                                     ng-if="lancamentoAvulso.cancelamento == 0">
                                    <i class="icon-ba-view ba__margin-left-35" title="visualizar"></i>
                                    <i class="fa fa-close ba__margin-left-20" title="cancelar" ng-if="accessPagina.excluir && (lancamentoAvulso.lancamento.situacao != 'Compensado' && lancamentoAvulso.lancamento.situacao != 'Negociado')"
                                       ng-click="cancelaLancamentoAvulso(lancamentoAvulso);$event.stopPropagation();"></i>
                                    <i class="fa fa-usd ba__margin-left-20" style="color:green" title="boleto compensado" ng-if="lancamentoAvulso.lancamento.situacao == 'Compensado'"></i>
                                    <i class="fa fa-briefcase ba__margin-left-20" style="color:green;font-size: 13px;" title="negociado" ng-if="lancamentoAvulso.lancamento.situacao == 'Negociado'"></i>
                                </div>
                                <div class="col-xs-2" ng-if="lancamentoAvulso.cancelamento === 1">
                                    <i class="lanc_cancel">cancelado</i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--ANTIGA-->
                    <div class="ba__admin-table-scroll ba__pointer" ng-if="data.lancamentoFiltro === 'antiga'">
                        <a class="list-group-item ba__font-size-12"
                           ng-click="checkAlteracao(lancamentoAvulso);$event.stopPropagation();"
                           ng-repeat="lancamentoAvulso in data.lancamentoAvulsosAntigos  | orderBy:prop:reverse"
                           id="lanc_antigo{{lancamentoAvulso.id}}">
                            <div class="row">
                                <div class="col-xs-2">{{lancamentoAvulso.vmImvEmp}}</div>
                                <div class="col-xs-7">{{lancamentoAvulso.nome_morador}}</div>
                                <div class="col-xs-6">{{lancamentoAvulso.descricao}}</div>
                                <div class="col-xs-3">{{lancamentoAvulso.data_vencimento | date:'dd/MM/yyyy'}}</div>
                                <div class="col-xs-2 text-center">{{lancamentoAvulso.vmLancamentos}}</div>
                                <div class="col-xs-2">{{lancamentoAvulso.vmValor | currency:'R$ '}}</div>
                                <div class="col-xs-2 text-center">
                                    <i class="icon-ba-edit ba__margin-left-35" ng-if="accessPagina.editar"></i>
                                    <i class="icon-ba-trash ba__margin-left-20" ng-if="accessPagina.excluir"
                                       ng-click="showDeleteAlert(lancamentoAvulso);$event.stopPropagation();"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-10 col-md-offset-9" style="margin-top: 15px" ng-if="pageCount">
                        <nav class="">
                            <ul class="pagination text-center" style="margin:inherit">
                                <li>
                                    <a aria-label="Previous" ng-click="updateList(current_page - 1)"
                                       class="ba__margin-right-15">
                                        <span aria-hidden="true">&laquo; ANTERIOR</span>
                                    </a>
                                </li>
                                <li ng-click="updateList(page)" ng-repeat="page in pages">
                                    <a ng-class="page == current_page ? 'selected' : ''">{{page}}</a>
                                </li>
                                <li ng-if="pageCount > 5">
                                    <a>...</a>
                                </li>
                                <li ng-if="pageCount > 5" ng-click="updateList(pageCount)">
                                    <a ng-class="pageCount == current_page ? 'selected' : ''">{{pageCount}}</a>
                                </li>
                                <li>
                                    <a aria-label="Next" ng-click="updateList(current_page + 1)"
                                       style="margin-left: 15px">
                                        <span aria-hidden="true">PRÓXIMA &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL CADASTRAR TIPO DE LANÇAMENTO-->
<div class="modal fade" id="novoLancamento" tabindex="-1" role="dialog">
    <div class="modal-dialog ba__modal-lancamento-avulso" role="document">
        <div class="modal-content" style="height: 700px">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
                    <span>Lançamento</span>
                </h4>
            </div>
            <div class="modal-body ba__modal-body-tipo-lancamento ba__margin-top-7">
                <form>
                    <div class="row">
                        <div class="form-group col-xs-24" id="lancamentos">
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Cobrança</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="radio-inline ba__input-label">
                                        <input class="ba__input-radio" type="radio"
                                               ng-model="data.lancamentoAvulsoSelecionado.tipo_cobranca" value="nova"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.cobranca"
                                               ng-change="changeTipoCobranca()">
                                        <h5>Nova</h5>
                                    </label>
                                    <label class="radio-inline ba__input-label">
                                        <input class="ba__input-radio" type="radio"
                                               ng-model="data.lancamentoAvulsoSelecionado.tipo_cobranca" value="antiga"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.cobranca">
                                        <h5>Antiga</h5>
                                    </label>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Carteira</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <div class="input-group">
                                        <select class="ba__input-select"
                                                ng-model="data.lancamentoAvulsoSelecionado.id_configuracao_carteira"
                                                enter ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                ng-options="carteiraDisponivel.id_carteira_conta as carteiraDisponivel.descricao for carteiraDisponivel in data.carteirasDisponiveis">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Layout do arquivo</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <select class="ba__input-select"
                                            ng-model="data.lancamentoAvulsoSelecionado.id_layout_remessa" enter
                                            ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                            ng-options="layoutArquivo.id as layoutArquivo.descricao for layoutArquivo in data.layoutArquivos">
                                    </select>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-show="data.lancamentoAvulsoSelecionado.id_lancamento">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Código</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <input type="text" class="ba__input-modal"
                                           value="{{data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova' ? data.lancamentoAvulsoSelecionado.id_lancamento : data.lancamentoAvulsoSelecionado.id}}"
                                           style="text-transform:uppercase; height: 60px; margin-top: -10px" disabled>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">{{ data.lancamentoAvulsoSelecionado.tipo_cobranca
                                        === 'nova' ? 'Descrição' : 'Descrição principal'}}</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <input type="text" class="ba__input-modal"
                                           ng-model="data.lancamentoAvulsoSelecionado.descricao"
                                           style="text-transform:uppercase"
                                           ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                </div>
                                <h5 class="col-md-6 col-md-offset-1 text-gray">
                                    <i></i>
                                </h5>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Grupo de conta</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <select class="ba__input-select"
                                            ng-model="data.lancamentoAvulsoSelecionado.idGrupLan"
                                            ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                            ng-change="filterPC(data.lancamentoAvulsoSelecionado.idGrupLan)"
                                            ng-options="grp.id as grp.descricao for grp in grupoLancamentos">
                                    </select>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Plano de conta</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <select class="ba__input-select"
                                            ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                            ng-model="data.lancamentoAvulsoSelecionado.idtipo_lancamento"
                                            enter
                                            ng-options="planoConta.id as planoConta.descricao for planoConta in data.planoContas">
                                    </select>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30" ng-show="false">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Atribuir a</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="radio-inline ba__input-label">
                                        <input class="ba__input-radio" type="radio" value="imovel"
                                               ng-model="data.lancamentoAvulsoSelecionado.atribuicao"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                        <h5>Imóvel</h5>
                                    </label>
                                    <label class="radio-inline ba__input-label" ng-if="false">
                                        <input class="ba__input-radio" type="radio" value="empresa"
                                               ng-model="data.lancamentoAvulsoSelecionado.atribuicao"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                        <h5>Fornecedor</h5>
                                    </label>
                                </div>
                            </div>
                            <div ng-if=" data.lancamentoAvulsoSelecionado.edita == 'nova' "
                                 class="row ba__margin-bottom-30"
                                 ng-show="data.lancamentoAvulsoSelecionado.atribuicao === 'imovel'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Quadra</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.searchQuadra"
                                           ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                </div>
                                <div class="col-md-3">
                                    <h5 class="text-right text-gray">Lote</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.searchLote"
                                           ng-blur="getImoveisByQuadraAndLote()"
                                           ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                </div>
                            </div>
                            <div ng-if=" data.lancamentoAvulsoSelecionado.edita == 'antiga' "
                                 class="row ba__margin-bottom-30"
                                 ng-show="data.lancamentoAvulsoSelecionado.atribuicao === 'imovel'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Quadra</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <span class="ba__input-modal"
                                          ng-model="data.searchQuadra">{{data.searchQuadra}}</span>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="text-right text-gray">Lote</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <span class="ba__input-modal" ng-model="data.searchLote"> {{data.searchLote}}</span>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Titular</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
									<span ng-style="data.lancamentoAvulsoSelecionado.id_lancamento ?  { 'cursor': 'not-allowed'} : {}"
                                          class="ba__input-modal"
                                          ng-model="data.lancamentoAvulsoSelecionado.nome_titular">{{data.lancamentoAvulsoSelecionado.nome_titular}}</span>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-show="data.lancamentoAvulsoSelecionado.atribuicao === 'empresa'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Fornecedor</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <select class="ba__input-select"
                                            ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                            ng-model="data.lancamentoAvulsoSelecionado.id_empresa"
                                            enter ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                            ng-options="fornecedor.id as fornecedor.nome_fantasia for fornecedor in data.fornecedores">
                                    </select>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Valor</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <input type="text" class="ba__input-modal"
                                           ng-model="data.lancamentoAvulsoSelecionado.valor"
                                           style="text-transform:uppercase"
                                           ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                           placeholder="R$ 0,00" ui-money-mask>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova'">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Data de Vencimento</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <input type="date" class="ba__input-modal"
                                           ng-model="data.lancamentoAvulsoSelecionado.data_vencimento"
                                           ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30"
                                 ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'nova' && data.lancamentoAvulsoSelecionado.cancelamento === 1">
                                <div class="col-md-6">
                                    <h5 class="text-right text-gray">Motivo Cancelamento</h5>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <textarea class='form-control' disabled>{{data.lancamentoAvulsoSelecionado.motivo_cancelamento}}</textarea>
                                </div>
                            </div>
                            <!--ANTIGA-->
                            <div ng-if="data.lancamentoAvulsoSelecionado.tipo_cobranca === 'antiga'">
                                <hr style="border-top: 1px solid #ccc; margin: 50px 0!important;">
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h4 class="text-right">LANÇAMENTOS</h4>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Descrição</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="text" class="ba__input-modal"
                                               ng-model="data.objLancamentoAntigo.descricao"
                                               style="text-transform:uppercase"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                    </div>
                                    <h5 class="col-md-6 col-md-offset-1 text-gray">
                                        <i></i>
                                    </h5>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Categoria</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <select class="ba__input-select" ng-model="data.objLancamentoAntigo.categoria"
                                                enter ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                ng-options="categoria for categoria in data.categorias">
                                        </select>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Grupo de conta</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <select class="ba__input-select"
                                                ng-model="data.grupoCPSelecionado.id_tipo_lancamento"
                                                ng-change="filterPC(data.grupoCPSelecionado.id_tipo_lancamento)"
                                                ng-options="grp.id as grp.descricao for grp in grupoLancamentos"
                                                ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                        </select>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Plano de conta</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <select class="ba__input-select"
                                                ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                ng-model="data.objLancamentoAntigo.idtipo_lancamento"
                                                enter
                                                ng-options="planoConta.id as planoConta.descricao for planoConta in data.planoContas">
                                        </select>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Valor</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="text" class="ba__input-modal"
                                               ng-model="data.objLancamentoAntigo.valor"
                                               style="text-transform:uppercase"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                               placeholder="R$ 0,00" ui-money-mask>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-12 col-md-offset-7">
                                        <button ng-disabled="enableAdLanAnt()" type="button" class="btn btn-success"
                                                ng-click="adicionaLancamentoAntigo()"
                                                ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                            Adicionar lançamento
                                        </button>
                                    </div>
                                </div>
                                <div class="list-group ba__admin-table ba__margin-top-40" style="height: 25%">
                                    <a class="list-group-item disabled">
                                        <div class="row uppercase">
                                            <div class="col-xs-4">Descrição
                                                <i class="ba__margin-horizontal-5"></i>
                                            </div>
                                            <div class="col-xs-7">Categoria
                                                <i class="ba__margin-horizontal-5"></i>
                                            </div>
                                            <div class="col-xs-7">Plano de conta
                                                <i class="ba__margin-horizontal-5"></i>
                                            </div>
                                            <div class="col-xs-4">Valor
                                                <i class="ba__margin-horizontal-5"></i>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="ba__admin-table-scroll">
                                        <a class="list-group-item ba__font-size-12"
                                           ng-repeat="lancamentoAntigo in data.lancamentoAvulsoSelecionado.lancamentos as itens "
                                           style="height: auto;" ng-show="lancamentoAntigo.deleted == 0">
                                            <div class="row">
                                                <div class="col-xs-4">{{lancamentoAntigo.descricao}}</div>
                                                <div class="col-xs-7">{{lancamentoAntigo.categoria}}</div>
                                                <div class="col-xs-7">
                                                    {{getNamePlanoConta(lancamentoAntigo.idtipo_lancamento)}}
                                                </div>
                                                <div class="col-xs-4">{{lancamentoAntigo.valor | currency}}</div>
                                                <div class="col-xs-2"
                                                     ng-if="!data.lancamentoAvulsoSelecionado.id_lancamento">
                                                    <i class="fa fa-close text-gray-medium ba__margin-left-35"
                                                       ng-click="deleteLancamentoAdd(lancamentoAntigo)"></i>
                                                </div>
                                                <input type="hidden" ng-model="lancamentoAntigo.deleted"
                                                       ng-init="lancamentoAntigo.deleted=0"/>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <hr style="border-top: 1px solid #ccc; margin: 50px 0!important;">
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h4 class="text-right">BOLETO</h4>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Total do boleto</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" name="valor" disabled
                                               value="{{getTotalValorAntigo() | currency:'R$ '}}">
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Data de Competência</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="date" class="ba__input-modal"
                                               ng-model="data.lancamentoAvulsoSelecionado.data_competencia"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Data de Vencimento</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="date" class="ba__input-modal"
                                               ng-model="data.lancamentoAvulsoSelecionado.data_vencimento"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Carteira</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <div class="input-group">
                                            <select class="ba__input-select"
                                                    ng-model="data.lancamentoAvulsoSelecionado.id_configuracao_carteira"
                                                    enter ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                    ng-options="carteiraDisponivel.id_carteira_conta as carteiraDisponivel.descricao for carteiraDisponivel in data.carteirasDisponiveis">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Layout do arquivo</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <select class="ba__input-select"
                                                ng-model="data.lancamentoAvulsoSelecionado.id_layout_remessa" enter
                                                ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                ng-options="layoutArquivo.id as layoutArquivo.descricao for layoutArquivo in data.layoutArquivos">
                                        </select>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Percentual de multa</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="text" class="ba__input-modal"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                               style="text-transform:uppercase"
                                               ng-model="data.lancamentoAvulsoSelecionado.percentual_multa"
                                               placeholder="0,00%" ui-percentage-mask ui-percentage-value>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Percentual de juros</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="text" class="ba__input-modal"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                               style="text-transform:uppercase"
                                               ng-model="data.lancamentoAvulsoSelecionado.percentual_juros"
                                               placeholder="0,00%" ui-percentage-mask ui-percentage-value>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Nosso número<br>(sem o dígito)</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="number" class="ba__input-modal"
                                               ng-model="data.lancamentoAvulsoSelecionado.nosso_numero"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Número do documento</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="number" class="ba__input-modal"
                                               ng-model="data.lancamentoAvulsoSelecionado.numero_documento"
                                               ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento">
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Aceite</h5>
                                    </div>
                                    <div class="col-md-3 col-md-offset-1 ba__margin-top-5">
                                        <div class="col-xs-7    ">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                       ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                       enter ng-model="data.lancamentoAvulsoSelecionado.aceite"
                                                       id="fixo">
                                                <label class="onoffswitch-label" for="fixo">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="col-xs-3">
										<span class="pull-left" style="font-size: 20px; margin-left: -10px; ">
											<span ng-show="data.lancamentoAvulsoSelecionado.aceite"
                                                  class="text-positive">SIM</span>
											<span ng-show="!data.lancamentoAvulsoSelecionado.aceite">NÃO</span>
										</span>
                                    </h5>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray">Espécie documento</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <div class="input-group">
                                            <select class="ba__input-select"
                                                    ng-model="data.lancamentoAvulsoSelecionado.especie_doc" enter
                                                    ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                    ng-options="epecieDoc for epecieDoc in data.especies">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-6">
                                        <h5 class="text-right text-gray input-label-double">Status da inadimplência</h5>
                                    </div>
                                    <div class="col-md-12 col-md-offset-1">
                                        <select class="ba__input-select"
                                                ng-model="data.lancamentoAvulsoSelecionado.situacao_inadimplencia" enter
                                                ng-disabled="data.lancamentoAvulsoSelecionado.id_lancamento"
                                                ng-options="situacaoInadimplencia.id as situacaoInadimplencia.descricao for situacaoInadimplencia in data.situacoesInadimplencia">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="padding: 0; padding-top: 25px">
                <button type="button" class="btn btn-default col-md-6 ba__margin-left-15 pull-right"
                        ng-click="gerarBoleto()"
                        ng-show="data.lancamentoAvulsoSelecionado.id_lancamento && data.lancamentoFiltro === 'nova'"
                        ng-if="!data.lancamentoAvulsoSelecionado.cancelamento">
                    {{data.lancamentoAvulsoSelecionado.situacao !== 'Compensado' && data.lancamentoAvulsoSelecionado.situacao !== 'Negociado' ? 'Gerar Boleto' : 'Visualizar Boleto'}}
                </button>
                <button type="button" class="btn btn-default col-md-6 ba__margin-left-15 pull-right"
                        ng-click="gerarRemessa()"
                        ng-show="data.lancamentoAvulsoSelecionado.id_lancamento && data.lancamentoFiltro === 'nova'"
                        ng-if="!data.lancamentoAvulsoSelecionado.cancelamento && (data.lancamentoAvulsoSelecionado.situacao !== 'Compensado' && data.lancamentoAvulsoSelecionado.situacao !== 'Negociado')">
                    Download Remessa
                </button>
                <button type="button" class="btn btn-default col-md-6 ba__margin-left-15 pull-right"
                        ng-click="sendBoletoEmail()"
                        ng-show="data.lancamentoAvulsoSelecionado.id_lancamento && data.lancamentoFiltro === 'nova'"
                        ng-if="!data.lancamentoAvulsoSelecionado.cancelamento && (data.lancamentoAvulsoSelecionado.situacao !== 'Compensado' && data.lancamentoAvulsoSelecionado.situacao !== 'Negociado')">
                    Enviar por e-mail
                </button>
                <button ng-if="data.lancamentoAvulsoSelecionado.edita === 'nova' && accessPagina.inserir" type="button"
                        class="btn btn-success col-md-5 ba__margin-left-15 pull-right"
                        ng-click="saveLancamentoAvulso()" ng-disabled="validaCampo()"
                        ng-show="!data.lancamentoAvulsoSelecionado.id_lancamento">
                    Salvar
                </button>
                <button ng-if="data.lancamentoAvulsoSelecionado.edita === 'antiga' && accessPagina.editar" type="button"
                        class="btn btn-success col-md-5 ba__margin-left-15 pull-right"
                        ng-click="alterarLancamentoAntigo()" ng-disabled="validaCampo()"
                        ng-show="!data.lancamentoAvulsoSelecionado.id_lancamento">
                    Salvar
                </button>
                <button type="button" class="btn btn-default btn-clear col-md-5 ba__margin-left-15 pull-right"
                        ng-click="closeModal()">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

<!--MODAL LOADING-->
<div class="modal fade" id="loading" role="dialog" data-backdrop="static">
    <div class="modal-dialog ba__modal-loading" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
                    <span>Atualizando</span>
                </h4>
            </div>
            <div class="modal-body ba__modal-body-loading">
                <form>
                    <div class="row ba__margin-top-30">
                        <i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
                        <h5 class="col-md-19 text-gray ba__margin-top-20">
                            <b>Aguarde um instante...</b>
                        </h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL LOADING-->
<div class="modal fade" id="loadingPDF" role="dialog" data-backdrop="static">
    <div class="modal-dialog ba__modal-loading" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
                    <span>Carregando PDF</span>
                </h4>
            </div>
            <div class="modal-body ba__modal-body-loading">
                <form>
                    <div class="row ba__margin-top-30">
                        <i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
                        <h5 class="col-md-19 text-gray ba__margin-top-20">
                            <b>Aguarde...</b>
                        </h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL EXCLUSAO-->
<div ng-keypress="$event.keyCode == 13 && deleteLancamentoAvulso()" class="modal fade" id="deleteAlert" tabindex="-1"
     role="dialog">
    <div class="modal-dialog ba__modal-loading" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
                    <span>Confirmação</span>
                    <!--<span>Editando tipo de lançamento</span>-->
                </h4>
            </div>
            <div class="modal-body ba__modal-body-loading">
                <form>
                    <div class="row ba__margin-top-30">
                        <h5 class="col-md-24 text-gray ba__margin-top-20">
                            <b>Deseja realmente concluir esta ação?</b>
                        </h5>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-clear col-md-8 col-md-offset-7"
                        ng-click="closeDeleteModal()">
                    cancelar
                </button>
                <button type="button" class="btn btn-danger-full col-md-8 col-md-offset-1 pull-right"
                        ng-click="deleteLancamentoAvulso()">
                    DELETAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--MODAL GERANDO REMESSA-->
<div class="modal fade" id="loading-gerar_remessa" role="dialog" data-backdrop="static">
    <div class="modal-dialog ba__modal-loading" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
                    <span>Download arquivo de remessa</span>
                </h4>
            </div>
            <div class="modal-body ba__modal-body-loading">
                <form>
                    <div class="row ba__margin-top-30">
                        <i class="col-md-5 fa fa-spinner fa-spin ba__font-size-80 text-center"></i>
                        <h5 class="col-md-19 text-gray ba__margin-top-20">
                            <b>Carregando...</b>
                        </h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL boleto-->
<div class="modal fade relatorio-modal" id="showPdf" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false">
    <h1 data-dismiss="modal">X</h1>
    <object data="{{content}}" type="application/pdf"></object>
</div>
