<link rel='stylesheet' href='src/patrimonio/patrimonio.css'>
<div class="header">
	<div header></div>
</div>
<div class='patrimonio'>
	<section class='main'>
		<div class='container-fluid'>
			<div ng-init='init()' class='row'>
				<nav sidebar></nav>

				<div class='col-xs-21 content'>
					<form action='' method='post' class='form-horizontal filter'>
						<div class='row'>
							<label class='control-label col-xs-2' for='filter'>Pesquisar</label>
							<div class='col-xs-22'>
								<input class='form-control' ng-model='data.filter.value'>
							</div>
						</div>
					</form>

					<div class='result-action'>
						<h3 ng-if='(data.rows | filter:data.filter.value).length == 1'>
							<strong>1</strong> bem patrimonial encontrado</h3>
						<h3 ng-if='(data.rows | filter:data.filter.value).length != 1'>
							<strong>{{(data.rows | filter:data.filter.value).length}}</strong> bens patrimoniais encontrados</h3>
						<button data-toggle='modal' ng-click='newRow()' ng-if="accessPagina.inserir" type='submit' class='btn btn-success'>Novo bem patrimonial</button>
					</div>

					<div class='list-group'>
						<a class='list-group-item disabled'>
							<div class='row uppercase'>
								<div class='col-xs-3'>Nº do patrimônio</div>
								<div class='col-xs-2'>Dt. incorp</div>
								<div class='col-xs-3'>Departamento</div>
								<div class='col-xs-5'>Grupo</div>
								<div class='col-xs-7'>Produto</div>
								<div class='col-xs-2'>Valor atual</div>
								<div class='col-xs-2 acoes'>Ações</div>
							</div>
						</a>

						<a href='#' class='list-group-item' ng-repeat='row in (data.rows | filter:data.filter.value)' ng-click='editRow($event, row)'>
							<div class='row'>
								<div class='col-xs-3'>{{row.numero}}</div>
								<div class='col-xs-2'>{{mDateSrv.isoToDateObj(row.data_incorporacao).toLocaleString('pt-BR', {'timeZone':'America/Sao_Paulo'}).substr(0,
									10)}}
								</div>
								<div class='col-xs-3'>{{row.departamento.descricao}}</div>
								<div class='col-xs-5'>{{row.produto.grupo_produto.descricao}}</div>
								<div class='col-xs-7'>{{row.produto.descricao}}</div>
								<div class='col-xs-2'>{{row.valor.toLocaleString('arab', {'style':'currency', 'currency':'BRL'})}}</div>
								<div class='col-xs-2 acoes'>
									<i class='fa fa-eye'></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Modal cadastrar novo bem patrimonial. -->
	<div class='modal fade' id='registro'>
		<div class='modal-dialog'>
			<form ng-submit='submit()' class='form-horizontal modal-content'>
				<div class='modal-header'>
					<h4 class='modal-title'>Patrimônio - cadastro de bem patrimonial</h4>
				</div>
				<div class='modal-body'>
					<fieldset>
						<div class='row'>
							<legend class='col-md-6'>Produto</legend>
						</div>
						<div class='form-group historico' ng-show='data.model.id'>
							<label class='control-label col-md-6' for='historico_status'>Status</label>
							<div class='col-md-14'>
								<input type='text' id='historico_status' name='historico_status' class='form-control' value='{{UltimoHistorico(data.model.id).status}}'
								  readonly>
							</div>
							<div class='col-md-4'>
								<button type='button' class='btn btn-primary' ng-click='openModalHistorico()'>
									<i class='fa fa-history'></i>
								</button>
							</div>
						</div>
						<div class='form-group'>
							<label class='control-label col-md-6' for='produto_id'>Produto</label>
							<div class='col-md-18'>
								<select ng-disabled="data.model.tipo_lancamento == 'compras'" class='form-control' id='produto_id' name='produto_id' required ng-model='data.produtoSelecionado' ng-options='option.produto as option.produto.descricao for option in data.list.produtos'>
									<option value=''>selecione...</option>
								</select>
							</div>
						</div>
						<div class='form-group'>
							<label class='control-label col-md-6' for='produto_grupo_descricao'>Grupo</label>
							<div class='col-md-18'>
								<input type='text' id='produto_grupo_descricao' name='produto_grupo_descricao' ng-model='data.produtoSelecionado.grupo_produto.descricao'
								  class='form-control' readonly>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='produto_grupo_depreciacao'>Depreciação do grupo</label>
							<div class='col-md-18'>
								<input type='text' id='produto_grupo_depreciacao' name='produto_grupo_depreciacao' ng-model='data.produtoSelecionado.depreciacaoStr'
								  class='form-control' readonly>
								<span>ao ano</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='numero'>Número do patrimônio</label>
							<div class='col-md-18'>
								<input class='form-control' type='text' id='numero' name='numero' ng-model='data.model.numero' required>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='serie'>Número de série</label>
							<div class='col-md-18'>
								<input class='form-control' type='text' id='serie' name='serie' ng-model='data.model.serie'>
								<span>(Opcional)</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='descricao_garantia'>Descrição da garantia</label>
							<div class='col-md-18'>
								<textarea id='descricao_garantia' name='descricao_garantia' class='form-control' ng-model='data.model.descricao_garantia'></textarea>
								<span>(Opcional)</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='fim_garantia'>Fim da garantia</label>
							<div class='col-md-18'>
								<input type='date' id='fim_garantia' name='fim_garantia' class='form-control' ng-model='data.model.fim_garantia'>
								<span>(Opcional)</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='observacoes'>Observações gerais</label>
							<div class='col-md-18'>
								<textarea id='observacoes' name='observacoes' class='form-control' ng-model='data.model.observacoes'></textarea>
								<span>(Opcional)</span>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<div class='row'>
							<legend class='col-md-6'>Incorporação</legend>
						</div>

						<div class='form-group' ng-show='data.model.id'>
							<label class='control-label col-md-6'>Tipo de lançamento</label>
							<div class='col-md-18'>
								<input type='text' name='tipo_lancamento' class='form-control' ng-model='data.model.tipo_lancamento' readonly/>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='tipo_incorporacao'>Tipo de incorporação</label>
							<div class='col-md-18'>
								<select class='form-control' name='tipo_incorporacao' id='tipo_incorporacao' ng-model='data.model.tipo_incorporacao' required>
									<option value=''>Selecione...</option>
									<option value='aquisição' ng-selected='data.model.tipo_incorporacao == "aquisicao"'>Aquisição</option>
									<option value='construcao' ng-selected='data.model.tipo_incorporacao == "construcao"'>Construção</option>
									<option value='desapropriacao' ng-selected='data.model.tipo_incorporacao == "desapropriacao"'>Desapropriação</option>
									<option value='desmembramento' ng-selected='data.model.tipo_incorporacao == "desmembramento"'>Desmembramento</option>
									<option value='doacao' ng-selected='data.model.tipo_incorporacao == "doacao"'>Doação</option>
									<option value='fins-constitucionais' ng-selected='data.model.tipo_incorporacao == "fins-constitucionais"'>Fins constitucionais</option>
									<option value='manufatura' ng-selected='data.model.tipo_incorporacao == "manufatura"'>Manufatura</option>
									<option value='permuta' ng-selected='data.model.tipo_incorporacao == "permuta"'>Permuta</option>
								</select>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='data_incorporacao'>Data de incorporação</label>
							<div class='col-md-18'>
								<input type='date' id='data_incorporacao' name='data_incorporacao' class='form-control' ng-model='data.model.data_incorporacao'
								  required>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='data_compra'>Data da compra</label>
							<div class='col-md-18'>
								<input type='date' id='data_compra' name='data_compra' class='form-control' ng-model='data.model.data_compra'>
								<span>(Opcional)</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='fornecedor'>Fornecedor</label>
							<div class='col-md-18'>
								<select class='form-control' name='fornecedor' id='fornecedor' ng-model='data.model.id_empresa' ng-options='option.id as option.nome_fantasia for option in data.list.fornecedores'>
									<option value=''>Selecione...</option>
								</select>
								<span>(Opcional)</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='numero_nota_fiscal'>Número da nota</label>
							<div class='col-md-18'>
								<input type='text' id='numero_nota_fiscal' name='numero_nota_fiscal' class='form-control' ng-model='data.model.numero_nota_fiscal'>
								<span>(Opcional)</span>
							</div>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='departamento'>Departamento</label>
							<div class='col-md-18'>
								<select class='form-control' name='departamento' id='departamento' required ng-model='data.model.id_departamento' ng-options='option.id as option.descricao for option in data.list.departamentos'>
									<option value=''>Selecione...</option>
								</select>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<div class='row'>
							<legend class='col-md-6'>Valores</legend>
						</div>

						<div class='form-group'>
							<label class='control-label col-md-6' for='valor'>Valor do bem</label>
							<div class='col-md-18'>
								<input id='valor' name='valor' class='form-control' ng-model='data.model.valor' placeholder='R$ 0,00' ui-money-mask required>
							</div>
						</div>

						<div class='form-group' ng-show="data.model.id">
							<label class='control-label col-md-6' for='valor_depreciacao'>Valor da depreciação</label>
							<div class='col-md-18'>
								<input id='valor_depreciacao' name='valor_depreciacao' class='form-control' ng-model='data.produtoSelecionado.depreciacao'
								  ui-money-mask readonly>
							</div>
						</div>

						<div class='form-group' ng-show="data.model.id">
							<label class='control-label col-md-6' for='valor_atual'>Valor atual</label>
							<div class='col-md-18'>
								<input id='valor_atual' name='valor_atual' class='form-control' ng-model='data.produtoSelecionado.valorAtual' ui-money-mask
								  readonly>
							</div>
						</div>
					</fieldset>
				</div>

				<div class='modal-footer'>
					<button type='button' class='btn btn-default' ng-click='closeModal()'>Fechar</button>

					<button class='btn btn-success' ng-show='!data.model.id' ng-if="accessPagina.inserir">
						<span>Cadastrar</span>
					</button>
					<button class='btn btn-success' ng-show='data.model.id' ng-if="accessPagina.editar">
						<span>Salvar</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Modal cadastrar novo bem patrimonial. -->

	<!-- Modal histórico. -->
	<div class='modal fade' id='historico'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h4 class='modal-title'>Histórico do bem</h4>
				</div>

				<div class='modal-body'>
					<div class='list-group'>
						<a class='list-group-item disabled'>
							<div class='row uppercase'>
								<div class='col-xs-8'>Status</div>
								<div class='col-xs-8'>Data/horário</div>
								<div class='col-xs-8'>Usuário</div>
							</div>
						</a>

						<div class='row list-group-item' ng-repeat='row in (data.historico.rows | filter: { patrimonio: {id: data.model.id}})'>
							<div class='col-xs-8'>{{row.status}}</div>
							<div class='col-xs-8'>{{row.data_hora}}</div>
							<div class='col-xs-8'>{{row.usuario.login}}</div>
						</div>
					</div>
				</div>

				<div class='modal-footer'>
					<button type='button' class='btn btn-default' ng-click='closeModalHistorico()'>Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal histórico. -->
</div>