<div class="row ba__admin-list">
    <div class="row ba__margin-top-20">
        <h3 class="col-md-15 Roboto-Light">
            <strong>2</strong> resultados</h3>
        <button type="button" id="abrirVotacaos"  class="btn btn-success col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px" ng-click="select = null;$('#novoTipo').modal('show')">
            Abrir Votação
        </button>
    </div>
    <div class="list-group ba__admin-table ba__margin-top-40" style="height: 85%">
        <a class="list-group-item disabled">
            <div class="row uppercase">
                <div class="col-xs-7">PAUTA
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Alternativas
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-6">Status
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Votos
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-3 text-center"></div>
            </div>
        </a>
        <div class="ba__admin-table-scroll" style="height: 85%;">
            <a class="list-group-item ba__font-size-12 ba__pointer" >
                <div class="row">
                    <div class="col-xs-7">Qual empresa de segurança devemos contratar?</div>
                    <div class="col-xs-4">4</div>
                    <div class="col-xs-6">Aguardando inicio</div>
                    <div class="col-xs-4">4</div>
                    <div class="col-xs-3">
                        <i class="fa fa-close ba__margin-left-20" title="Excluir"  ng-click=""></i>
                        <i class="fa fa-eye ba__margin-left-35" title="Visualizar"  ng-click=""></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>