<div class="row ba__admin-list">
    <div class="row ba__margin-top-20">
        <h3 class="col-md-15 Roboto-Light">
            <strong>{{pautas.length}}</strong> resultados</h3>
        <button type="button" id="abrirVotacaos"  class="btn btn-success col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px" ng-click="select = null;$('#novoTipo').modal('show')">
            Abrir Votação
        </button>
    </div>
    <div class="list-group ba__admin-table ba__margin-top-40" style="height: 85%">
        <a class="list-group-item disabled">
            <div class="row uppercase">
                <div class="col-xs-8">PAUTA
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Alternativas
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-6">Status
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Votos
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-2 text-center"></div>
            </div>
        </a>
        <div class="ba__admin-table-scroll" style="height: 85%;">
            <a class="list-group-item ba__font-size-12 ba__pointer" ng-repeat="pauta in resumoPautas">
                <div class="row" ng-click="abrePauta(pauta.idPauta)">
                    <div class="col-xs-8">{{pauta.tituloPauta}}</div>
                    <div class="col-xs-4">{{pauta.totalAlternativas}}</div>
                    <div class="col-xs-6">
                        <span ng-if="pauta.status=='Aberta para votação'" class="status aberta">{{pauta.status}}</span>
                        <span ng-if="pauta.status=='Suspensa'" class="status suspensa">{{pauta.status}}</span>
                        <span ng-if="pauta.status=='Aguardando inicio'" class="status aguardando">{{pauta.status}}</span>
                    </div>
                    <div class="col-xs-4">{{pauta.totalVotos}}</div>
                    <div class="col-xs-2">
                        <i class="fa fa-close ba__margin-left-20" title="Excluir"  ng-click=""></i>
                        <i class="fa fa-eye ba__margin-left-35" title="Visualizar"  ng-click=""></i>
                    </div>
                </div>
            </a>
        </div>

        <!-- Modal Pautas -->
        <div class="modal fade" id="abrePauta" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog assembleia-modal" role="document">
                <div class="modal-content assembleia-content">
                    <!-- Header -->
                    <div class="modal-header assembleia-header">
                        <div class="row">
                            <h4 class="modal-title Roboto-Thin ba__font-size-25"
                                style="padding: 25px 25px 10px; font-weight: bold;">
                                <i class="fa fa-edit cff6633"></i>
                                <span>PAUTA</span>
                            </h4>
                        </div>
                    </div>
                    <!-- Form Mean -->
                    <div class="modal-body ba__bg-white ba__modal-body-assembleia"
                         style="background-color: #F2F2F2; padding: 0px !important">

                        <div style="padding: 0 0 20px; margin: 0 0 20px;">
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-22">
                                    <div style="padding: 15px;">
                                        <div class="control-input">
                                                            <textarea
                                                                    name="descricao-pauta"
                                                                    ng-model="pautaSelecao.descricaoPergunta"
                                                                    placeholder=" "
                                                                    class="ng-pristine ng-valid ng-touched"
                                                                    required
                                                                    aria-invalid="false"
                                                                    rows="4"
                                                                    cols="33">
                                                            </textarea>
                                            <span>PAUTA </span><!-- {{pautaIndex}} -->
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2">
                                    <div style="display: flex;
                                                            align-items: center;
                                                            justify-content: start;
                                                            font-size: 28px;
                                                            padding: 15px;
                                                            min-height: 80px;
                                                            color: #999;">
                                        <i class="fa fa-trash"
                                           style="margin-right: 15px;"
                                           ng-click="removeNewPauta()"></i>
                                    </div>
                                </div>-->
                            </div>

                            <div class="row"
                                 ng-repeat="alternativa in pautaSelecao.alternativas">
                                <div class="col-md-22">
                                    <div style="padding: 15px;">
                                        <div class="control-input">
                                            <input
                                                    type="text"
                                                    name="alternativa"
                                                    ng-model="alternativa.descAlternativa"
                                                    value="alternativa.id"
                                                    placeholder=""
                                                    autocomplete="off"
                                                    class="ng-pristine ng-valid ng-touched"
                                                    required
                                                    aria-invalid="false">
                                            <span>Alternativa</span> <!-- {{$index}} -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div style="display: flex;
                                                            align-items: center;
                                                            justify-content: start;
                                                            font-size: 28px;
                                                            padding: 15px;
                                                            min-height: 80px;
                                                            color: #999;">
                                        <i class="fa fa-trash"
                                           style="margin-right: 15px;"
                                           ng-click="removeNewAlternativas(alternativa)"></i>
                                        <i class="fa fa-plus-circle"
                                           ng-show="showAddAlternativa(alternativa)"
                                           ng-click="addNewAlternativa(alternativa)"
                                        ></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer" style="padding-right: 15px !important;">
                        <button type="button" class="btn btn-default btn-clear col-md-5 pull-right"
                                ng-click="fechaPauta()">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Pautas -->
    </div>
</div>