<div class="col-xs-3 ba__menuAdmin">
    <div id='cssmenu' class="ba__admin-table-scroll">
        <ul>
            <li></li>
            <li class='has-sub'>
                <a ui-sref="index" ng-click="acaoMenu('principal');">
                  <span style="text-transform: uppercase">
                    <i class="fa fa-home text-center text-primary" style="margin-right: 10px;"></i>
                    menu principal
                  </span>
                </a>
            </li>

            <li ng-if="loadingMenu" class="loadingMenu"><i class="fa fa-spinner fa-spin"></i></li>

            <li class='has-sub' ng-repeat="menu in menuShow">
                <a ng-click="acaoMenu(menu.menu_principal.cod)">
                    <span style="text-transform: uppercase">
                        <i class="fa {{ menu.menu_principal.icon }} text-center text-primary" style="margin-right: 10px;"></i>
                        {{menu.menu_principal.nome}}
                    </span>
                </a>
                <ul id="{{ menu.menu_principal.cod }}" class="_menu_" style="{{ menu.menu_principal.cod == menuAberto ? 'display:block': '' }}">
                    <li ng-repeat="submenu in menu.submenus">
                        <a ng-if="!submenu.submenu_principal" ui-sref="{{submenu.cod}}"><span>{{submenu.nome}}</span></a>
                        <a ng-if="submenu.submenu_principal"><span>{{submenu.submenu_principal.nome}}</span></a>
                        <p ng-if="submenu.submenu_principal" ng-repeat="submenutree in submenu.submenu_principal.submenu" class="subMenus_">
                            <a ui-sref="{{submenutree.cod}}"><span>{{submenutree.nome}}</span></a>
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>