<div class="row">
    <div class="">
        <div class="col-xs-13">

            <div class="cart-infor w100pc br-8px bgc-fff bs px-16px py-20px my-16px">

                <div class="header">
                    <span>ASSEMBLEIA GERAL</span>
                    <h2>Assembleia Geral Extraordinária de Segurança</h2>

                    <p class="col-xs-8 status andamento">
                        <b>ASSEMBLEIA EM ANDAMENTO</b>
                    </p>

                    <div class="pull-right" style="position: absolute; 
                        right: 15px; 
                        color: #828282; 
                        font-size: 18px;
                        text-decoration: underline;
                        cursor: pointer;">
                        <i class="fa fa-edit" style="font-size: 24px;"></i> Editar
                    </div>
                </div>


                <div class="content">
                    <div>
                        <div class="box-item">
                            <div class="item">
                                <i class="fa fa-calendar"></i>
                                <span>
                                    de 10/02/2021 19:00
                                    até 11/02/2021 22:00
                                </span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check"></i>
                                <span>
                                    início pendente
                                    até 11/02/2021 20:00
                                </span>
                            </div>
                            <div class="item">
                                <i class="fa fa-map"></i>
                                <span>
                                    Somente online
                                </span>
                            </div>
                            <div class="item">
                                <i class="fa fa-camera"></i>
                                <span>
                                    <a href="#" class="link">Link da transmissão</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="documents" style="display: flex; flex-direction: column;">
                    <div class="col-md-12" style="background-color: #fff;
                        padding: 10px;
                        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 7px rgba(0, 0, 0, 0.15);
                        border-radius: 8px; 
                        margin-bottom: 15px;
                        margin-left: 15px;">
                        <a href="javascript:void(0)" ng-click="abreDocumento()">
                            <img width="45" height="45" src="img/icons/icon_pdf.png">
                            <i style="font-size: 17px; color: #666666 !important;" class="ng-binding">
                                pdf_de_teste.pdf
                            </i>
                        </a>
                        <i ng-click="excluirArquivo(doc, indexDoc)" class="fa fa-eye pull-right" style="font-size: 24px;
                                margin: 8px; color: #666;" role="button" tabindex="0"></i>
                    </div>

                    <div class="col-md-12" style="background-color: #fff;
                        padding: 10px;
                        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 7px rgba(0, 0, 0, 0.15);
                        border-radius: 8px; 
                        margin-bottom: 15px;
                        margin-left: 15px;">
                        <a href="javascript:void(0)" ng-click="abreDocumento()">
                            <img width="45" height="45" src="img/icons/icon_pdf.png">
                            <i style="font-size: 17px; color: #666666 !important;" class="ng-binding">
                                pdf_de_teste.pdf
                            </i>
                        </a>
                        <i ng-click="excluirArquivo(doc, indexDoc)" class="fa fa-eye pull-right" style="font-size: 24px;
                                margin: 8px; color: #666;" role="button" tabindex="0"></i>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row ba__margin-top-20">
                <button type="button" class="btn btn-iniciarVotaacao uppercase right" data-toggle="modal" ng-click="">
                    INICIAR VOTAÇÃO
                </button>
            </div>

            <div class="row ba__margin-top-20">
                <div class="col-md-7">
                    <div class="cart-info bgc-fff bs">
                        <i class="fa fa-gavel"></i>
                        <span class="text">Questões de ordem</span>
                        <p class="text">
                            <b>14</b>
                            <span>/de 71</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-1" >
                    <div class="cart-info bgc-fff bs">
                        <i class="fa fa-hand-paper-o"></i>
                        <span class="text">Encaminhamentos</span>
                        <p class="text">
                            <b>3</b>
                            <span>/de 12</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="cart-info bgc-fff bs">
                        <i class="fa fa-weixin"></i>
                        <span class="text"><strong>21</strong> tópicos</span>
                        <span class="text"><strong>87</strong> comentários</span>
                        <span class="text text-slim"><strong>21</strong> tópicos</span>
                    </div>
                </div>
            </div>

            <div class="row ba__margin-top-20">
                <div class="col-md-24" style="margin-top: 16px;">

                    <div class="init-votacao-participantes bgc-fff bs">
                        <div class="header">
                            <i class="fa fa-home"></i><span>Unidades participantes</span>
                        </div>
                        <div class="body">
                            <div>
                                <b>892</b><span>aptas</span>
                            </div>
                            <div>
                                <b>32</b><span>interagiram</span>
                            </div>
                            <div>
                                <b>0</b><span>votaram</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>