<link rel="stylesheet" href="src/inadimplencia/acordo/simular/inadimplenciaSimularNegociar.css">

<div class="header">
	<div header></div>
</div>
<div ng-init='InadimplenciaService.ngOnInit()' class="row container-fluid ba__body-content ba__full-width">
	<!--CONTAINER MENU-->
	<div sidebar></div>
	<!--CONTAINER SISTEMA-->
	<div class="col-xs-21 ba__admin-container">
		<!-- INICIO Tela CATEGORIA DE USUÁRIOS-->
		<div class="col-xs-24 ba__admin-container-list">
			<div class="row ba__admin-busca">
				<div class="col-xs-24 input-group ba__admin-busca-input" style="float: left; border: none!important; height: 30px; margin-left: 20px">
					<span class="input-group-addon" style="height: 60px"></span>
					<select class="form-group col-xs-2 ba__adminSelectBusca" style="height: 50px; border-bottom: 1px solid #cccccc;">
						<option value="logradouro">Endereço</option>
						<!--<option value="proprietario">Avenida X</option>-->
					</select>
					<span class="col-xs-2">
						<h4 class="text-right" style="margin-top: 15px;">Quadra&nbsp;&nbsp;</h4>
					</span>
					<input type="text" class="form-group col-xs-1" style="height: 50px; border-bottom: 1px solid #cccccc;" ng-model="end.quadra">
					<span class="col-xs-2">
						<h4 class="text-right" style="margin-top: 15px;">Lote&nbsp;&nbsp;</h4>
					</span>
					<input type="text" class="form-group col-xs-1" style="height: 50px; border-bottom: 1px solid #cccccc;" ng-model="end.lote">
					<button ng-click="pesquisarTitulos(end)" type="button" class="btn btn-primary col-xs-3 col-xs-offset-1 uppercase" style="margin-top: 12px;"
					 data-toggle="modal" data-target="#demonstrativo">
						Pesquisar
						<i class="icon-ba-search"></i>
					</button>
				</div>
				<div class="row nome_titul">
					<!--<span id="proprietario_nome">{{proprietario_nome}}</span>-->
					<!-- <input type="hidden" ng-model="proprietario_id"> -->
				</div>
			</div>
			<div class="row ba__admin-list" style="overflow-y: auto;height: 90%;margin-bottom: inherit !important">
				<div class="row ba__margin-top-20 ba__margin-bottom-20">
					<h3 ng-if="titulosList" class="col-md-15 Roboto-Light" style="margin-left: 10px">
						<strong>{{titulosList.length}}</strong> títulos encontrados
					</h3>
				</div>
				<div class="ba__admin-list" style="margin-bottom: inherit !important;height: auto">
					<div class="row ba__admin-busca" ng-hide="!data_consultaCalculoParcela">
						<div class="col-xs-24 input-group ba__admin-busca-input" style="margin: 5px;">
							<span class="col-xs-1">
								<h4 class="text-right" style="margin-top: 15px;">Multa&nbsp;&nbsp;</h4>
							</span>
							<input type="text" class="form-group col-xs-3" placeholder="R$ 0,00" style="height: 50px; border-bottom: 1px solid #cccccc;"
							 ng-model="data_consultaCalculoParcela.total_multas" ui-money-mask readonly>
							<span class="col-xs-1">
								<h4 class="text-right" style="margin-top: 15px;">Juros&nbsp;&nbsp;</h4>
							</span>
							<input type="text" class="form-group col-xs-3" ng-model="data_consultaCalculoParcela.total_juros" ui-money-mask placeholder="R$ 0,00"
							 style="height: 50px; border-bottom: 1px solid #cccccc;" readonly>
							<!--<span class="col-xs-2"><h4 class="text-right" style="margin-top: 15px;">Correções&nbsp;&nbsp;</h4></span>
							<input type="text" class="form-group col-xs-3" placeholder="R$ 0,00" style="height: 50px; border-bottom: 1px solid #cccccc;"
								ng-model="data_consultaCalculoParcela.total_correccao" ui-money-mask readonly>-->
							<span class="col-xs-2">
								<h4 class="text-right" style="margin-top: 15px;">Novo Total&nbsp;&nbsp;</h4>
							</span>
							<input type="text" class="form-group col-xs-3" placeholder="R$ 0,00" style="height: 50px; border-bottom: 1px solid #cccccc;"
							 ng-model="data_consultaCalculoParcela.total_parcial" ui-money-mask readonly>
							<button type="button" ng-click="simularAcordo();" data-toggle="modal" class="btn btn-success col-xs-3 col-xs-offset-1" style="margin-top: 12px">
								Simular acordo
							</button>
						</div>
					</div>
				</div>
				<!-- TABS -->
				<div class="col-md-24">
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab">
								<h5>COMPETÊNCIA</h5>
							</a>
						</li>
						<!-- <li disabled="">
							<a>
								<h5>LANÇAMENTOS</h5>
							</a>
						</li> -->
					</ul>
					<div class="tab-content">
						<!-- COMPETÊNCIA -->
						<div id="menu1" class="tab-pane fade in active">
							<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
								<a class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-1">
											<input ng-if="accessPagina.inserir" class="form-check-input" type="checkbox">
										</div>
										<div class="col-xs-3">QD./LT.
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">PARCEIRO
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-4">COMPETÊNCIA
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-4">VALOR
											<i class="ba__margin-horizontal-5"></i>
										</div>
									</div>
								</a>

								<div class="ba__admin-table-scroll col-xs-24" ng-repeat="titulo in titulosList" ng-if="titulosList">
									<div class="list-group-item ba__font-size-12">
										<div class="row">
											<div class="col-xs-1">
												<input ng-if="accessPagina.inserir" ng-model="titulo.selected" type="checkbox" ng-change="checkSelected();">
											</div>
											<div class="col-xs-3">
												<b>Qd. {{titulo.quadra}} Lt {{titulo.lote}}</b>
											</div>
											<div class="col-xs-6">
												<b>{{titulo.nome}}</b>
											</div>
											<div class="col-xs-4">
												<b>{{titulo.data_vencimento | date:'dd/MM/yyyy'}} </b>
											</div>
											<div class="col-xs-4">
												<b>R$ {{titulo.valor | currency: ''}}</b>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10 col-md-offset-9" style="display: none;">
								<nav class="">
									<ul class="pagination text-center">
										<li>
											<a aria-label="Previous" class="ba__margin-right-15">
												<span aria-hidden="true">&laquo; ANTERIOR</span>
											</a>
										</li>
										<li class="active">
											<a>1</a>
										</li>
										<li>
											<a>2</a>
										</li>
										<li>
											<a>3</a>
										</li>
										<li>
											<a>4</a>
										</li>
										<li>
											<a>5</a>
										</li>
										<li>
											<a aria-label="Next" style="margin-left: 15px">
												<span aria-hidden="true">PRÓXIMA &raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>

						<!-- LANÇAMENTOS -->
						<div id="menu2" class="tab-pane fade">

							<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%">
								<div class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-1">
											<input class="form-check-input" type="checkbox">
										</div>
										<div class="col-xs-2">QD./LT.
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-5">PARCEIRO
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">DESCRIÇÃO
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-4">TIPO DE LANÇAMENTO
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">DT.BASE
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">VALOR
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-3">TIPO DE INADIMPLÊNCIA
											<i class="ba__margin-horizontal-5"></i>
										</div>
									</div>
								</div>
								<div class="ba__admin-table-scroll col-xs-24">
									<a class="list-group-item ba__font-size-12">
										<div class="row">
											<div class="col-xs-1">
												<input class="form-check-input" type="checkbox">
											</div>
											<div class="col-xs-2">
												<b>Qd. 01 Lt 01</b>
											</div>
											<div class="col-xs-5">
												<b>Bruno Miranda Souza Dias</b>
											</div>
											<div class="col-xs-3">
												<b>01/01/2017</b>
											</div>
											<div class="col-xs-4">
												<b>R$ 100,00</b>
											</div>
											<div class="col-xs-3">
												<b>01/01/2017</b>
											</div>
											<div class="col-xs-3">
												<b>R$ 100,00</b>
											</div>
											<div class="col-xs-3">
												<b>Administrativo</b>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-10 col-md-offset-9" style="display: none">
								<nav class="">
									<ul class="pagination text-center">
										<li>
											<a aria-label="Previous" class="ba__margin-right-15">
												<span aria-hidden="true">&laquo; ANTERIOR</span>
											</a>
										</li>
										<li class="active">
											<a>1</a>
										</li>
										<li>
											<a>2</a>
										</li>
										<li>
											<a>3</a>
										</li>
										<li>
											<a>4</a>
										</li>
										<li>
											<a>5</a>
										</li>
										<li>
											<a aria-label="Next" style="margin-left: 15px">
												<span aria-hidden="true">PRÓXIMA &raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
	<!--CONTAINER SISTEMA-->
</div>

<!--MODAL NEGOCIAR DEBITOS-->
<div class="modal fade" id="negociarDebitos" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog ba__modal-nova-conta" role="document">
		<div class="modal-content" style="height: 850px">
			<div class="modal-header ba__no-padding-top" style="height: 310px; border: none">
				<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
					<i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
					<span>Negociar débitos</span>
				</h4>

				<div class="row" style="margin: 80px 60px 30px 60px">
					<div class="col-md-24">
						<div class="col-md-24">
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>Dívida inicial</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{data_consultaCalculoParcela.total_divida | currency:'R$ '}}</h5>
							</div>
						</div>
						<div class="col-md-24">
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>Saldo a receber</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{saldoReceber() | currency:'R$ '}}</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>V. Provisionado</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{valorProvisionado || 0 | currency:'R$ '}}</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>V. Adicional</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{valorAddCalc() | currency:'R$ '}}</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>V. Entrada</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5 ng-if="data.forma_pagamento !== 'À Vista'">{{parcela.entrada || 0 | currency:'R$ '}}</h5>
								<h5 ng-if="data.forma_pagamento === 'À Vista'">{{0 | currency: 'R$ '}}</h5>

							</div>
						</div>
						<div class="col-md-24">
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>Juros</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{jurosCalc() | currency:'R$ '}}</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>Multa</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{multaCalc() | currency:'R$ '}}</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>Descontos</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5>{{descontoCalc() | currency:'R$ '}}</h5>
							</div>
							<div class="col-md-3">
								<h5 class="text-gray">
									<b>Total</b>
								</h5>
							</div>
							<div class="col-md-3">
								<h5 ng-if="data.forma_pagamento === 'À Vista'">{{saldoReceber() | currency:'R$ '}}</h5>
								<h5 ng-if="data.forma_pagamento !== 'À Vista'">{{saldoReceber() || 0 | currency:'R$ '}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 30px 0 0 0; margin-bottom: 35px">
					<!-- progressbar -->
					<div class="col-md-1 step-lancamento" ng-class="{'ok': tabIndex  > 0}" style="margin-left: 10px">
						<h2>1</h2>
					</div>
					<h5 class="col-md-2 uppercase" style="margin-left: 15px; margin-right: 50px; margin-top: 0px;">
						<b>Forma de Pagamento</b>
					</h5>

					<div class="col-md-1 step-lancamento off" ng-class="{'off': tabIndex < 1, 'ok': tabIndex > 1}" style="margin-left: 10px">
						<h2>2</h2>
					</div>
					<h5 class="col-md-2 uppercase" style="margin-left: 15px; margin-right: 15px; margin-top: 8px;">
						<b>Acréscimos</b>
					</h5>

					<div class="col-md-1 step-lancamento off" ng-class="{'off': tabIndex < 2, 'ok': tabIndex > 2}" style="margin-left: 10px">
						<h2>3</h2>
					</div>
					<h5 class="col-md-2 uppercase" style="margin-left: 15px; margin-right: 15px; margin-top: 8px;">
						<b>Descontos</b>
					</h5>


					<div class="col-md-1 step-lancamento off" ng-class="{'off': tabIndex < 3, 'ok': tabIndex > 3}" style="margin-left: 10px">
						<h2>4</h2>
					</div>
					<h5 class="col-md-2 uppercase" style="margin-left: 15px; margin-right: 40px; margin-top: 8px;">
						<b>Parcelamento</b>
					</h5>

					<div class="col-md-1 step-lancamento off" ng-class="{'off': tabIndex < 4, 'ok': tabIndex > 4}" style="margin-left: 10px">
						<h2>5</h2>
					</div>
					<h5 class="col-md-2 uppercase" style="margin-left: 15px; margin-right: 10px; margin-top: 8px;">
						<b>Confirmação</b>
					</h5>


				</div>
			</div>
			<!-- PASSO A PASSO -->
			<div class="modal-body ba__modal-body-contas-a-pagar">
				<form id="msform">
					<!-- FORMA DE PAGAMENTO -->
					<fieldset id="forma_de_pagamento" class="tab__">
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Carteiras disponíveis *</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select ng-model='pagamentoForma.carteira' class="col-md-24 ba__input-select" enter ng-options="opt as opt.descricao for opt in InadimplenciaService.CarteirasBancarias">
									<option value="">Selecione..</option>
								</select>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Layout do arquivo *</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<select ng-model='pagamentoForma.layout' class="col-md-24 ba__input-select" enter ng-options="opt as opt.descricao for opt in InadimplenciaService.layoutsRemessa">
									<option value="">Selecione..</option>
								</select>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Nome do parceiro</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input class="col-md-24 ba__input-modal" readonly value="{{InadimplenciaService.imovelInfo.nome}}">
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-6">
								<h4 class="text-right text-gray">Referência</h4>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<input class="col-md-24 ba__input-modal" readonly value="Qd. {{InadimplenciaService.imovelInfo.quadra}} Lt. {{InadimplenciaService.imovelInfo.lote}}">
							</div>
						</div>
					</fieldset>
					<!--ACRESCIMOS-->
					<fieldset id="acrescimos_tab" class="tab__" style="display: none;">
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Plano de Conta</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<select ng-model="acrescimo.planoConta" ng-options="opt as opt.descricao for opt in tipoLancamentosFormated" class="col-md-24 ba__input-select"
								 enter>
									<option value="" selected>Selecione</option>
								</select>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Categoria</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<select ng-model="acrescimo.categoria" ng-options="opt as opt.label for opt in OPTIONSCATEGORIA" class="col-md-24 ba__input-select"
								 enter>
									<option value="" selected>Selecione</option>
								</select>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Valor</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input ng-model="acrescimo.valor" type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00"
								 ui-money-mask>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-12 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray"></h4>
								</div>
								<div class="col-md-10 col-md-offset-1" ng-click="addAcrescimos(acrescimo); acrescimo = null;">
									<button type="button" class=" btn btn-success col-md-24 pull-right">
										Adicionar Acréssimos
									</button>
								</div>
							</div>
							<div class="list-group ba__admin-table" style="height: 35%; margin-bottom: -37px; margin-top: 77px;">
								<div class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-3">CÓD
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">PLANO DE CONTA
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">VALOR
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">CATEGORIA
											<i class="ba__margin-horizontal-5"></i>
										</div>
									</div>
								</div>
								<div class="ba__admin-table-scroll col-xs-24">
									<div class="list-group-item ba__font-size-12" ng-repeat="acressimo in acrescimosList">
										<div class="row">
											<div class="col-xs-3">
												<b>{{acressimo.idtipo_lancamento}}</b>
											</div>
											<div class="col-xs-6">
												<b>{{acressimo.descricao}}</b>
											</div>
											<div class="col-xs-6">
												<b>{{acressimo.valor | currency:'R$ '}}</b>
											</div>
											<div class="col-xs-6" style="display: none;">
												<b>{{acressimo.descricao}}</b>
											</div>
											<div class="col-xs-6">
												<b>{{acressimo.categoriaDesc}}</b>
											</div>
											<div class="col-xs-1">
												<i class="icon-ba-edit ba__margin-left-35" title="Editar" ng-click="abreModalEditaValores(acressimo)"></i>
											</div>
											<div class="col-xs-1">
												<i class="icon-ba-trash ba__margin-left-20" title="Excluir" ng-click="deletaAcrescimo(acressimo);" role="button" tabindex="0"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
							<br>
							<br>
							<br>
						</div>
					</fieldset>
					<!--DESCONTOS -->
					<fieldset id="descontos_tab" class="tab__" style="display: none;">
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Plano de Conta</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<select ng-model="desconto.planoConta" ng-options="opt as opt.descricao for opt in InadimplenciaService.tiposLancamentos"
								 class="col-md-24 ba__input-select" enter>
									<option value="" selected>Selecione</option>
								</select>
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Valor</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input ng-model="desconto.valor" type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00" ui-money-mask />
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-12 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray"></h4>
								</div>
								<div class="col-md-10 col-md-offset-1" ng-click="addDescontos(desconto); desconto = null;">
									<button type="button" class=" btn btn-success col-md-24 pull-right">
										Adicionar Desconto
									</button>
								</div>
							</div>
							<!-- LISTA DETALHAMENTO -->
							<div class="list-group ba__admin-table" style="height: 35%; margin-bottom: -37px; margin-top: 77px;">
								<div class="list-group-item disabled">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-3">CÓD
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">PLANO DE CONTA
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">VALOR
											<i class="ba__margin-horizontal-5"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="ba__admin-table-scroll col-xs-24">
								<div class="list-group-item ba__font-size-12" ng-repeat="descontos in descontosList">
									<div class="row">
										<div class="col-xs-3">
											<b>{{descontos.idtipo_lancamento}}</b>
										</div>
										<div class="col-xs-6">
											<b>{{descontos.descricao}}</b>
										</div>
										<div class="col-xs-6">
											<b>{{descontos.valor | currency:'R$ '}}</b>
										</div>
										<div class="col-xs-6">
											<b></b>
										</div>
										<div class="col-xs-1">
											<i class="icon-ba-edit ba__margin-left-35" title="Editar" ng-click="abreModalEditaValoresAbatimento(descontos);"></i>
										</div>
										<div class="col-xs-1">
											<i class="icon-ba-trash ba__margin-left-20" title="Excluir" ng-click="deletaDescontos(descontos);" role="button" tabindex="0"></i>
										</div>
									</div>
								</div>
							</div>
							<br>
							<br>
							<br>
							<br>
						</div>
					</fieldset>
					<!--PARCELAMENTO -->
					<fieldset id="parcelamento_tab" class="tab__" style="display: none;">

						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Forma de pagamento *</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<div class="input-group">
									<select class="ba__input-select" ng-model="data.forma_pagamento" ng-change="mudaFormaPgto()" ng-options="tipoPagamento for tipoPagamento in data.tiposPagamentosIni">
									</select>
								</div>
							</div>
						</div>
                        <div class="row ba__margin-bottom-30">
							<div class="col-md-8">
                                <h4 class="text-right text-gray" ng-show="parcela.avista == 0">Entrada</h4>
                                <h4 class="text-right text-gray" ng-show="parcela.avista > 0">Parcela Única</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input ng-model="parcela.entrada" ng-show="parcela.avista == 0" type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00"
								 ui-money-mask>
								<input ng-model="parcela.avista"  ng-show="parcela.avista > 0" type="text" class="ba__input-modal" style="text-transform:uppercase" placeholder="R$ 0,00"
								 ui-money-mask>
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray" ng-show="parcela.avista == 0">Data Entrada</h4>
								<h4 class="text-right text-gray" ng-show="parcela.avista > 0">Data Pagamento</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input ng-model="parcela.dt_entrada" type="date" class="ba__input-modal" style="text-transform:uppercase">
							</div>
						</div>
						<div class="row ba__margin-bottom-30">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Nº do comprovante</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input ng-model="parcela.n_comprovante" type="text" class="ba__input-modal" style="text-transform:uppercase">
							</div>
						</div>
						<div class="row ba__margin-bottom-30" ng-show="parcela.avista == 0">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Quantidade de parcelas *</h4>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<input ng-model="parcela.qtd_parcela" type="number" min="1" class="ba__input-modal" style="text-transform:uppercase">
							</div>
						</div>
						<div class="row ba__margin-bottom-30" ng-show="parcela.avista == 0">
							<div class="col-md-8">
								<h4 class="text-right text-gray">Dt. da primeira parcela *</h4>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<input ng-model="parcela.dt_primeira" type="date" class="ba__input-modal" style="text-transform:uppercase">
							</div>
						</div>

						<div class="row ba__margin-bottom-30">
							<div class="col-md-12 col-md-offset-2">
								<div class="col-md-12">
									<h4 class="text-right text-gray"></h4>
								</div>
								<div class="col-md-10 col-md-offset-1" ng-click="gerarParcelas(parcela);">
									<button type="button" id="gerarParcelas" class="btn btn-success col-md-24 pull-right">{{parcela.avista ? 'Gerar Recebimento' : 'Gerar Parcelas *'}}</button>
								</div>
							</div>
						</div>
						<div class="list-group ba__admin-table ba__margin-top-40" style="height: 35%" id="parcelas">
							<a class="list-group-item disabled">
								<div class="row uppercase" style="padding-left: 4px">
								</div>
							</a>
							<div class="ba__admin-table-scroll col-xs-24">
								<a class="row" ng-repeat="parcelas in parcelasList">
									<div class="row">
										<div class="col-xs-24" style="background-color:#a09e9a; font-size: 22px; color: #fff; padding: 10px;">
											<b>PARCELA {{$index+1}}</b>
										</div>
									</div>
									<div class="row ba__font-size-12" style="margin-top: 20px;">
										<div class="col-xs-2">
											<b>Valor</b>
										</div>
										<div class="col-xs-3">
											<input type="text" class="ba__input-modal" ng-model="parcelas.valor_parcela" style="text-transform:uppercase"
												   ui-money-mask placeholder="R$ 0,00" >
										</div>
										<div class="col-xs-2">
											<b>Data</b>
										</div>
										<div class="col-xs-4">
											<input type="date" ng-model="parcelas.data_vencimento" class="ba__input-modal">
										</div>
										<div class="col-xs-3">
											<b>Forma Pagamento</b>
										</div>
										<div class="col-xs-3">
											<div class="input-group">
												<p ng-if="data.forma_pagamento === 'À Vista'">À Vista</p>
												<select ng-if="data.forma_pagamento !== 'À Vista'" class="ba__input-select" ng-model="parcelas.forma_pagamento" ng-options="tipoPagamento for tipoPagamento in data.tiposPagamentosIni">
												</select>
											</div>
										</div>
										<div ng-if="parcelas.forma_pagamento !== 'À Vista' && parcelas.forma_pagamento !== 'Boleto'">
											<div class="col-xs-3" >
												<b>Nº {{parcelas.forma_pagamento}}</b>
											</div>
											<div class="col-xs-3">
												<input type="text" ng-model="parcelas.numero_documento" class="ba__input-modal" style="text-transform:uppercase">
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<br>
						<br>
						<br>
						<br>
					</fieldset>
					<!-- CONFIRMAÇAO -->
					<fieldset id="confirmacao_tab" class="tab__" style="display: none;">
						<div class="row">
							<div class="row">
								<h3 class="text-gray" style="padding: 10px">Forma de pagamento</h3>
							</div>
							<div class="row ba__font-size-12">
								<div class="col-xs-offset-2 col-xs-6" style="font-weight: bold">Forma de pagamento</div>
								<div class="col-xs-4">{{data.forma_pagamento}}</div>
								<div class="col-xs-6" style="font-weight: bold">Carteira</div>
								<div class="col-xs-4 ">{{pagamentoForma.carteira.descricao}}</div>
							</div>
							<div class="row ba__font-size-12">
								<div class="col-xs-offset-1 col-xs-6" style="font-weight: bold">Parceiro</div>
								<div class="col-xs-5">{{InadimplenciaService.imovelInfo.nome}}</div>
								<div class="col-xs-6" style="font-weight: bold">Referência</div>
								<div class="col-xs-4 ">Qd. {{InadimplenciaService.imovelInfo.quadra}} Lt. {{InadimplenciaService.imovelInfo.lote}}</div>
							</div>
						</div>
						<div class="row">
							<div class="row">
								<h3 class="text-gray" style="padding: 10px">Acréscimos</h3>
							</div>
							<div class="list-group ba__admin-table">
								<div class="row uppercase" style="padding-left: 4px">
									<div class="col-xs-3">CÓD
										<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-6">PLANO DE CONTA
										<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-6">VALOR
										<i class="ba__margin-horizontal-5"></i>
									</div>
									<div class="col-xs-6">CATEGORIA
										<i class="ba__margin-horizontal-5"></i>
									</div>
								</div>
							</div>
							<div class="ba__admin-table-scroll col-xs-24">
								<div class="list-group-item ba__font-size-12" ng-repeat="acressimo in acrescimosList">
									<div class="row">
										<div class="col-xs-3">
											<b>{{acressimo.idtipo_lancamento}}</b>
										</div>
										<div class="col-xs-6">
											<b>{{acressimo.descricao}}</b>
										</div>
										<div class="col-xs-6">
											<b>{{acressimo.valor | currency:'R$ '}}</b>
										</div>
										<div class="col-xs-6" style="display: none;">
											<b>{{acressimo.descricao}}</b>
										</div>
										<div class="col-xs-6">
											<b>{{acressimo.categoriaDesc}}</b>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-if="descontosList.length">
								<div class="row">
									<h3 class="text-gray" style="padding: 10px">Descontos</h3>
								</div>
								<div class="list-group ba__admin-table">
									<div class="row uppercase" style="padding-left: 4px">
										<div class="col-xs-3">CÓD
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">PLANO DE CONTA
											<i class="ba__margin-horizontal-5"></i>
										</div>
										<div class="col-xs-6">VALOR
											<i class="ba__margin-horizontal-5"></i>
										</div>
									</div>
								</div>
								<div class="ba__admin-table-scroll col-xs-24">
									<div class="list-group-item ba__font-size-12" ng-repeat="descontos in descontosList">
										<div class="row">
											<div class="col-xs-3">
												<b>{{descontos.idtipo_lancamento}}</b>
											</div>
											<div class="col-xs-6">
												<b>{{descontos.descricao}}</b>
											</div>
											<div class="col-xs-6">
												<b>{{descontos.valor | currency:'R$ '}}</b>
											</div>
											<div class="col-xs-6">
												<b></b>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="row">
									<h3 class="text-gray" style="padding: 20px 0px">Parcelamento</h3>
								</div>
								<div class="row ba__font-size-12">
									<div class="col-xs-offset-2 col-xs-6" style="font-weight: bold">{{parcela.avista > 0 ? 'Parcela Única' : 'Entrada'}}</div>
									<div class="col-xs-4">{{(parcela.avista > 0 ? parcela.avista : parcela.entrada) | currency:' R$ '}}</div>
									<div class="col-xs-6" style="font-weight: bold">Data da entrada</div>
									<div class="col-xs-4 ">{{parcela.dt_entrada | date:'dd/MM/yyyy'}}</div>
								</div>
								<div class="row ba__font-size-12">
									<div class="col-xs-offset-2 col-xs-6" style="font-weight: bold">Quantidade de parcelas</div>
									<div class="col-xs-4">{{parcela.qtd_parcela}}</div>
									<div class="col-xs-6" style="font-weight: bold">Data da p. parcela</div>
									<div class="col-xs-4 ">{{parcela.dt_primeira | date:'dd/MM/yyyy'}}</div>
								</div>
								<div class="ba__admin-table-scroll col-xs-24">
									<div class="row" ng-repeat="parcelas in parcelasList">
										<div class="row">
											<div class="col-xs-24" style="background-color:#a09e9a; font-size: 22px; color: #fff; padding: 10px;">
												<b>PARCELA {{$index+1}}</b>
											</div>
										</div>
										<div class="row ba__font-size-12" style="margin: 20px 0;">
											<div class="col-xs-5">
												<b>Valor</b> &nbsp;&nbsp;{{parcelas.valor_parcela | currency:' R$ '}}
											</div>
											<div class="col-xs-6">
												<b>Data</b> &nbsp;&nbsp;{{parcelas.data_vencimento  | date:'dd/MM/yyyy'}}
											</div>
											<div class="col-xs-6">
												<b>Forma Pagamento</b> &nbsp;&nbsp;{{parcelas.forma_pagamento}}
											</div>
                                            <div class="col-xs-6" ng-if="parcelas.forma_pagamento !== 'À Vista'">
												<b>Nº {{parcelas.forma_pagamento}}</b> &nbsp;&nbsp;{{parcelas.numero_documento}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
				</div>
				<div class="modal-footer" style="margin-top: 20px">
					<input type="button" name="previous" id="tab_" class="previous btn btn-success hidden" value="{{tabIndex}}" />
					<button type="button" ng-click="cancelarTab();" data-dismiss="modal" class="btn btn-default btn-clear col-md-3">
						cancelar
					</button>



					<button ng-disabled='(tabIndex === 0 && !pagamentoForma.layout)|| (tabIndex === 0 && !pagamentoForma.carteira) || (tabIndex === 3 && (valorProvisionado !== saldoReceber() || parcelasList.length === 0))'
					 type="button" ng-click="proximoTab();" ng-show="tabIndex < 4" class=" btn btn-success col-md-3 pull-right" id="proxima-etapa">
						Próximo Passo
					</button>
					<button type="button" ng-click="confirmar();" ng-show="tabIndex == 4" class=" btn btn-success col-md-3 pull-right">
						Confirmar
					</button>


					<button type="button" ng-hide="tabIndex==0" ng-click="voltarTab();" id="vltarbackTab" class=" btn btn-success col-md-3 pull-right">
						Voltar
					</button>

				</div>
				</div>
				</div>
			</div>

			<!--MODAL Enviando-->
			<div class="modal fade" id="modalEditaValores" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog ba__modal-loading" role="document">
					<div class="modal-content">
						<div class="modal-header ba__no-padding-top">
							<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
								<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
								<span>{{tituloModal.titulo}}</span>
								<!--<span>Editando tipo de lançamento</span>-->
							</h4>
						</div>
						<div class="modal-body ba__modal-body-loading">
							<form>
								<div class="row ba__margin-top-30">

									<input type="hidden" ng-model="tituloModal.valorHidden">
									<input type="hidden" ng-model="tituloModal.item">

									<input type="text" id="tituloValor_" class="form-group col-xs-24" placeholder="R$ 0,00" style="
							padding: 13px;
							padding-left: 20px;
							font-size: 25px;
							border-radius: 5px;
							border: 1px solid #ccc;
							" ng-model="tituloModal.valor">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" ng-click="fechaModalEditaValores();" class="btn btn-default col-md-8 col-md-offset-6">
								Cancelar
							</button>

							<button type="button" ng-click="salvaEditaValores();" class="btn btn-success col-md-8 col-md-offset-8">
								Salvar
							</button>



						</div>
					</div>
				</div>
			</div>

			<!--MODAL Enviando-->
			<div class="modal fade" id="modalEditaValoresDescontos" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog ba__modal-loading" role="document">
					<div class="modal-content">
						<div class="modal-header ba__no-padding-top">
							<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
								<i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
								<span>Descontos - {{tituloModaldes.titulo}}</span>
								<!--<span>Editando tipo de lançamento</span>-->
							</h4>
						</div>
						<div class="modal-body ba__modal-body-loading">
							<form>
								<div class="row ba__margin-top-30">

									<input type="hidden" ng-model="tituloModaldes.valorHidden">
									<input type="hidden" ng-model="tituloModaldes.item">

									<input type="text" id="tituloValordes_" class="form-group col-xs-24" placeholder="R$ 0,00" style="
							padding: 13px;
							padding-left: 20px;
							font-size: 25px;
							border-radius: 5px;
							border: 1px solid #ccc;
							" ng-model="tituloModaldes.valor">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" ng-click="fechaModalEditaValores();" class="btn btn-default col-md-8 col-md-offset-6">
								Cancelar
							</button>

							<button type="button" ng-click="salvaEditaValoresDesc();" class="btn btn-success col-md-8 col-md-offset-8">
								Salvar
							</button>
						</div>
					</div>
				</div>
			</div>