<div class="row ba__admin-list">
    <div class="list-group ba__admin-table ba__margin-top-40" style="height: 85%">
        <a class="list-group-item disabled">
            <div class="row uppercase">
                <div class="col-xs-2">
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">Unidade
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-2">PESO
                    <i class="ba__margin-horizontal-5"></i>
                </div>
                <div class="col-xs-4">STATUS
                    <i class="ba__margin-horizontal-5"></i>
                </div>
<!--                <div class="col-xs-8">PROCURADOR-->
<!--                    <i class="ba__margin-horizontal-5"></i>-->
<!--                </div>-->
                <div class="col-xs-4 text-center"></div>
            </div>
        </a>
        <div class="ba__admin-table-scroll" style="height: 85%;">
            <a class="list-group-item ba__font-size-12 ba__pointer"
               ng-repeat="participante in listParticipantes"
            >
                <div class="row">
                    <div class="col-xs-2 check-styled">
                        <label>
                            <input type="checkbox" ng-model="participante.participar">
                        </label>
                    </div>
                    <div class="col-xs-4">Qd {{participante.quadra}} / Lt. {{participante.lote}} / {{participante.logradouro}}</div>
                    <div class="col-xs-2">x{{participante.peso}}</div>
                    <div class="col-xs-4">
                        <span class="badge-style badge-participante-ativo">
                            Participando
                        </span>
                    </div>
                    <div class="col-xs-8">
                        {{participante.procurador}}
                    </div>
<!--                    <div class="col-xs-4">-->
<!--                        <i class="fa fa-plus-circle ba__margin-left-20" title="Excluir"  ng-click=""></i>-->
<!--                        Add Procurador-->
<!--                    </div>-->
                </div>
            </a>
        </div>
    </div>
</div>