<div class="modal-dialog ba__modal-novo-equipamento" role="document">
  <div class="modal-content">
    <div class="modal-header ba__no-padding-top">
      <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
        <i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
        <span>MODAL</span>
      </h4>
    </div>
    <div class="modal-body ba__margin-top-15">
      <form>
        <div class="row">
          <div class="form-group col-xs-24">

            <div class="row ba__margin-bottom-30">
              <div class="col-md-8">
                <h5 class="text-right text-gray">Código</h5>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <input type="text" class="ba__input-modal" style="text-transform:uppercase; height: 60px; margin-top: -10px" disabled>
              </div>
            </div>

            <div class="row ba__margin-bottom-30 ba__margin-top-20">
              <div class="col-md-8">
                <h5 class="text-right text-gray">Nome</h5>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <input type="text" class="ba__input-modal" maxlength="80" style="text-transform:uppercase">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-clear col-xs-8 col-xs-offset-6 btnVeiculo" data-dismiss="modal">
					Cancelar
				</button>
      <button type="button" (click)="save()" class="btn btn-success col-xs-9 col-xs-push-1 btnFocus btnVeicul">
					Salvar
				</button>
    </div>
  </div>
</div>