<link rel="stylesheet" href="src/cadastros/config-condominio/configCondominio.ctrl.css">

<div class="header">
	<div header></div>
</div>

<div ng-init="ngOnInit()" class="row container-fluid ba__body-content ba__full-width">
	<!--CONTAINER MENU-->
	<div sidebar></div>
	<!--CONTAINER MENU-->

	<!--CONTAINER SISTEMA-->
	<div class="col-xs-21 ba__admin-container">

		<!-- INICIO Tela CATEGORIA DE USUÁRIOS-->
		<div class="col-xs-24 ba__admin-container-list">
			<div class="row ba__admin-busca">
				<button type="button" class="btn btn-success col-xs-4" style="margin-top: 12px; margin-left: 40px" ng-if="accessPagina.inserir" ng-click="saveConfiguracaoCondominio(data.configuracaoCondominio)">
					Salvar
				</button>
			</div>
			<div class="row ba__admin-list" style="overflow-y: auto;">

				<div class="modal-dialog" style="width: 49%; float: left; margin-bottom: 0">
					<div class="modal-content card-2" style="padding-top: 20px">
						<div class="modal-header ba__no-padding-top ba__margin-bottom-15">
							<h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
								<i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
								<span>Condomínio</span>
							</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="row">
									<div class="form-group col-xs-23 col-xs-offset-1">
										<!-- OCULTADO POR ENQUANTO -->
										<!--<div class="row ba__margin-bottom-30">-->
											<!--<div class="col-md-8">-->
												<!--<h5 class="text-right text-gray">Calcular mês Subsequente</h5>-->
											<!--</div>-->
											<!--<div class="col-md-12 col-md-offset-1">-->
												<!--<input type="checkbox" class="ba__pointer" style="border: 2px solid #ccc; height: 20px; margin-top: 10px" ng-model="data.configuracaoCondominio.calculomessubsequente"-->
												<!--/>-->
											<!--</div>-->
										<!--</div>-->

										<!--<div class="row ba__margin-bottom-30">-->
											<!--<div class="col-md-8">-->
												<!--<h5 class="text-right text-gray">Compensar Abatimento</h5>-->
											<!--</div>-->
											<!--<div class="col-md-12 col-md-offset-1">-->
												<!--<input type="checkbox" style="border: 2px solid #ccc; height: 20px; margin-top: 10px;" class="ba__pointer" ng-model="data.configuracaoCondominio.compensarabatimento"-->
												<!--/>-->
											<!--</div>-->
										<!--</div>-->
										<!-- OCULTADO POR ENQUANTO -->
										<div class="row ba__margin-bottom-30">
											<div class="col-md-8">
												<h5 class="text-right text-gray">Dia Vencimento*</h5>
											</div>
											<div class="col-md-4 col-md-offset-1">
												<input type="number" class="ba__input-modal" style="text-transform:uppercase;" ng-model="data.configuracaoCondominio.diavencimento"  min="1" max="31">
											</div>
										</div>
										<!-- OCULTADO POR ENQUANTO -->
										<!--<div class="row ba__margin-bottom-30">-->
											<!--<div class="col-md-8">-->
												<!--<h5 class="text-right text-gray">Dia da Apuração*</h5>-->
											<!--</div>-->
											<!--<div class="col-md-4 col-md-offset-1">-->
												<!--<input type="number" class="ba__input-modal" style="text-transform:uppercase;" ng-model="data.configuracaoCondominio.diaapuracao">-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="row ba__margin-bottom-30">-->
											<!--<div class="col-md-8">-->
												<!--<h5 class="text-right text-gray">Período da Apuração*</h5>-->
											<!--</div>-->
											<!--<div class="col-md-4 col-md-offset-1">-->
												<!--<input type="number" class="ba__input-modal" ng-model="data.configuracaoCondominio.periododaapuracao" style="text-transform:uppercase;">-->
											<!--</div>-->
										<!--</div>-->
										<!-- OCULTADO POR ENQUANTO -->
										<div class="row ba__margin-bottom-30">
											<div class="col-md-8">
												<h5 class="text-right text-gray">Tipo da Apuração</h5>
											</div>
											<div class="col-md-12 col-md-offset-1">
												<select class="ba__input-select" enter ng-model="data.configuracaoCondominio.tipodeapuracao">
														<option value="">Selecione..</option>
														<option value="Despesa Estimada">Despesa estimada</option>
													</select>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--CONTAINER SISTEMA-->
</div>