<link rel="stylesheet" href="src/banco-caixa/contas/contas.ctrl.css">

<div class="header">
    <div header></div>
</div>

<div ng-init="ngOnInit()" class="row container-fluid ba__body-content ba__full-width">
    <!--CONTAINER MENU-->
    <div sidebar></div>
    <!--CONTAINER MENU-->

    <!--CONTAINER SISTEMA-->
    <div class="col-xs-21 ba__admin-container">

        <div class="col-xs-24 ba__admin-container-list">
            <div class="row ba__admin-list">
                <div class="row ba__margin-top-20">
                    <h3 class="col-md-15 Roboto-Light"><strong>{{data.contasBancarias.length || 0}}</strong> Contas bancárias encontradas</h3>
                    <button type="button" class="btn btn-success col-xs-offset-3 col-xs-6 uppercase" style="margin-top: 12px" ng-click="createContaBancaria()" ng-if="accessPagina.inserir">
                        Novo
                    </button>
                </div>
                <div class="modal-dialog" style="width: 100%; float: left; margin-bottom: 0">
                    <div class="modal-content card-2" style="padding-top: 20px; max-height: 778px;">
                        <div class="row list-group">
                            <div class="col-sm-3" ng-repeat="contaBancaria in data.contasBancarias" style="margin-top: 20px">
                                <div class="card-1 card-banco" >
                                    <i class="fa fa-ellipsis-v menu_acoes" aria-hidden="true" ng-click="menuCard(contaBancaria.id)"></i>
                                    <ul id="acao{{contaBancaria.id}}" class="acoes" ng-mouseleave="menuContextoLeave(contaBancaria.id)">
                                        <li class="icon-ba-edit" ng-click="editContaBancaria(contaBancaria, true)" ng-if="accessPagina.editar">&nbsp;editar</li>
                                        <li class="icon-ba-flux" ng-click="createConfiguracaoCarteira(contaBancaria)" ng-show="contaBancaria.idbanco">&nbsp;carteiras</li>
                                        <li class="icon-ba-trash" ng-click="showContaBancariaDeleteAlert(contaBancaria)" ng-if="accessPagina.excluir">&nbsp;excluir</li>
                                    </ul>
                                    <span><img src="{{getLogoBanco(contaBancaria.idbanco)}}" /> </span>
                                    <div class="info-card" ng-click="editContaBancaria(contaBancaria, true)">
                                        <h6 style="text-transform: uppercase"><b>{{getNomeBanco(contaBancaria.idbanco) || contaBancaria.descricao}}</b></h6>
                                        <p ng-show="contaBancaria.agencia">Agência: {{contaBancaria.agencia}}</p>
                                        <p ng-show="contaBancaria.conta">Conta: {{contaBancaria.conta}}</p>
                                        <p ng-show="contaBancaria.operacao">Operação: {{contaBancaria.operacao}}</p>
                                        <p>Saldo: <b id="saldo{{contaBancaria.id}}">{{ contaBancaria.saldo | currency:'R$ '}} {{getStatusSaldo(contaBancaria.id,contaBancaria.saldo)}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--CONTAINER SISTEMA-->
</div>

<!--MODAL CADASTRAR CONTA-->
<div class="modal fade" id="novaContaBancaria" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog ba__modal-info-banco-contas" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top" style="height: 75px; margin-bottom:25px;">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
                    <span>CONTAS BANCÁRIAS</span>
                    <!--<span>Editando tipo de lançamento</span>-->
                </h4>
            </div>

            <div class="modal-body ba__modal-body-info-banco-contas">
                <!--ABA CONTAS BANCÁRIAS-->
                <form>
                    <div class="row">
                        <div class="form-group col-xs-24">
                            <div class="row ba__margin-bottom-30" ng-show="data.contaBancariaSelecionado.id">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Código</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.contaBancariaSelecionado.id" disabled>
                                </div>
                            </div>

                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Tipo Conta</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.contaBancariaSelecionado.tipo_banco">
                                        <option value="bancária">Bancária</option>
                                        <option value="caixa">Caixa</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="data.contaBancariaSelecionado.tipo_banco === 'bancária'">
                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Banco*</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <select class="ba__input-select" ng-model="data.contaBancariaSelecionado.idbanco" enter ng-options="banco.id as banco.descricao for banco in data.bancos">
                                        </select>
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Agência*</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" maxlength="9" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.agencia">
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Número da conta*</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" maxlength="9" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.conta">
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Operação</h5>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <input type="text" class="ba__input-modal" maxlength="9" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.operacao">
                                    </div>
                                </div>

                                <div class="row ba__margin-bottom-30">
                                    <div class="col-md-8">
                                        <h5 class="text-right text-gray">Tipo de conta*</h5>
                                    </div>
                                    <div class="col-md-10    col-md-offset-1">
                                        <select class="ba__input-select" enter ng-model="data.contaBancariaSelecionado.tipo">
                                            <option value="CONTA CORRENTE">CONTA CORRENTE</option>
                                            <option value="POUPANÇA">POUPANÇA</option>
                                            <option value="CONTA INVESTIMENTO">CONTA INVESTIMENTO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30" ng-if="data.contaBancariaSelecionado.tipo_banco === 'caixa'">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Nome da conta*</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.descricao">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30 banco-saldo">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Saldo</h5>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.contaBancariaSelecionado.saldoValue" ng-change="saldo()">
                                        <option value="+"> + positivo</option>
                                        <option value="-"> - negativo</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ui-money-mask style="text-transform:uppercase" ng-model="data.contaBancariaSelecionado.saldo">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray">Data Saldo Inicial*</h5>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="date" class="ba__input-modal" ng-model="data.contaBancariaSelecionado.data_saldo_inicial">
                                </div>
                            </div>
                            <div class="row" ng-show="false" ng-if="data.contaBancariaSelecionado.tipo_banco === 'bancária'">
                                <div class="col-md-8">
                                    <h5 class="text-right text-gray input-label-double">Exibir relatório prest. de contas</h5>
                                </div>
                                <div class="col-md-3 col-md-offset-1 ba__margin-top-5">
                                    <div class="col-xs-7 ba__margin-left-5">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="bacon2" checked enter ng-model="data.contaBancariaSelecionado.relatorio">
                                            <label class="onoffswitch-label" for="bacon2">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="col-xs-3">
									<span class="pull-left" style="margin-left: -20px;">
                                            <span class="text-positive" ng-show="data.contaBancariaSelecionado.relatorio">SIM</span>
									<span ng-show="!data.contaBancariaSelecionado.relatorio">NÃO</span>
									</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </form>
                <!--ABA CONTAS BANCÁRIAS-->
            </div>
            <div class="modal-footer" style="margin-top: 30px">
                <button type="button" class="btn btn-default btn-clear col-xs-8 col-xs-offset-6 btnVeiculo" ng-click="closeContaBancariaModal()">
                    Cancelar
                </button>
                <button type="button" ng-click="saveContaBancaria()" class="btn btn-success col-xs-9 col-xs-push-1 btnFocus btnVeicul" ng-disabled="!validateContaBancaria()">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>
<!--MODAL CADASTRAR CONTA-->

<!--MODAL CADASTRAR CARTEIRA-->
<div class="modal fade" id="novaConfiguracaoCarteira" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog ba__modal-info-banco-contas" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top" style="height: 80px">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-primary ba__margin-horizontal-5"></i>
                    <span>CONFIGURAÇÃO DE CARTEIRA</span>
                    <!--<span>Editando tipo de lançamento</span>-->

                </h4>
            </div>
            <div class="modal-body ba__modal-body-info-banco-contas">
                <!--ABA CONFIGURAÇÃO DE CARTEIRA-->
                <form>
                    <div class="row">
                        <div class="form-group col-xs-24">

                            <div class="row ba__margin-bottom-10" ng-show="data.configuracaoCarteiraSelecionado.id">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray">Código</h4>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.id" style="text-transform:uppercase; height: 60px; margin-top: -10px"
                                           disabled>
                                </div>
                            </div>

                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray">Carteira</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.configuracaoCarteiraSelecionado.id_carteira" enter ng-options="carteira.id as carteira.descricao for carteira in data.carteiras"
                                     ng-change="checkCarteira(data.configuracaoCarteiraSelecionado.id_carteira)">
                                    </select>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Layout de remessa</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.configuracaoCarteiraSelecionado.id_layout_remessa" enter ng-options="layoutRemessa.id as layoutRemessa.descricao for layoutRemessa in data.layoutRemessas">
                                    </select>
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Layout de retorno</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <select class="ba__input-select" ng-model="data.configuracaoCarteiraSelecionado.id_layout_retorno" enter ng-options="layoutRetorno.id as layoutRetorno.descricao for layoutRetorno in data.layoutRetornos">
                                    </select>
                                </div>
                            </div>
                            <!--<div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray">Agência</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.agencia" style="text-transform:uppercase"
                                           maxlength="9">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Conta corrente</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.conta_corrente" style="text-transform:uppercase"
                                           maxlength="9">
                                </div>
                            </div>-->
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray">Código cedente / Convênio</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.codigo_cedente" style="text-transform:uppercase">
                                </div>
                            </div>

                            <!--<div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Primeiro dado de configuração</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.primeiro_dado_config" style="text-transform:uppercase">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Segundo dado de configuração</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.segundo_dado_config" style="text-transform:uppercase">
                                </div>
                            </div>-->
                            <div class="row ba__margin-bottom-30" ng-show="false">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Instrução de cobrança um</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.instru_cobranca_um" style="text-transform:uppercase">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30" ng-show="false">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Instrução de cobrança dois</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.instru_cobranca_dois" style="text-transform:uppercase">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30" ng-show="false">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Instrução de cobrança três</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.instru_cobranca_tres" style="text-transform:uppercase">
                                </div>
                            </div>
                            <div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Nosso número início</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.nosso_numero_inicio" style="text-transform:uppercase">
                                </div>
                            </div>
                            <!--<div class="row ba__margin-bottom-30">
                                <div class="col-md-6">
                                    <h4 class="text-right text-gray input-label-double">Nosso número fim</h4>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="text" class="ba__input-modal" ng-model="data.configuracaoCarteiraSelecionado.nosso_numero_fim" style="text-transform:uppercase">
                                </div>
                            </div>-->

                            <button type="button" class="btn btn-primary col-md-10 col-md-offset-7 uppercase ba__margin-bottom-35" ng-show="!data.configuracaoCarteiraSelecionado.id"
                                    ng-click="saveConfiguracaoCarteira()" ng-disabled="!validateConfiguracaoCarteira()" ng-if="accessPagina.inserir">
                                Adicionar carteira
                            </button>
                            <button type="button" class="btn btn-primary col-md-10 col-md-offset-1 uppercase ba__margin-bottom-35" ng-show="data.configuracaoCarteiraSelecionado.id"
                                    ng-click="saveConfiguracaoCarteira()" ng-disabled="!validateConfiguracaoCarteira()">
                                Salvar carteira
                            </button>
                            <button type="button" class="btn btn-success col-md-10 col-md-offset-2 uppercase ba__margin-bottom-35" ng-show="data.configuracaoCarteiraSelecionado.id"
                                    ng-click="limpaConfiguracaoCarteira()" ng-if="accessPagina.inserir">
                                Nova carteira
                            </button>

                            <div class="list-group ba__admin-table" style="height: 100%">
                                <a class="list-group-item disabled col-md-24">
                                    <div class="row uppercase">
                                        <div class="col-xs-5">Carteira.<i class="ba__margin-horizontal-5"></i></div>
                                        <div class="col-xs-6">Código cedente<i class="ba__margin-horizontal-5"></i></div>
                                        <div class="col-xs-8">Nosso número inicial<i class="ba__margin-horizontal-5"></i></div>
                                        <div class="col-xs-4 text-center"></div>
                                    </div>
                                </a>
                                <div class="ba__admin-table-scroll col-md-24">
                                    <a class="list-group-item ba__font-size-12" ng-repeat="configuracaoCarteira in data.contaBancariaSelecionado.configuracoesCarteira">
                                        <div class="row">
                                            <div class="col-xs-5">{{getNomeCarteira(configuracaoCarteira.id_carteira)}}</div>
                                            <div class="col-xs-6">{{configuracaoCarteira.codigo_cedente}}</div>
                                            <div class="col-xs-8">{{configuracaoCarteira.nosso_numero_inicio}}</div>
                                            <div class="col-xs-4">
                                                <i class="icon-ba-edit ba__margin-left-15" title="Editar" ng-click="editConfiguracaoCarteira(configuracaoCarteira)" ng-if="accessPagina.editar"></i>
                                                <i class="icon-ba-trash ba__margin-left-15" title="Excluir" ng-click="showConfiguracaoCarteiraDeleteAlert(configuracaoCarteira)" ng-if="accessPagina.excluir"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <!--ABA CONFIGURAÇÃO DE CARTEIRA-->
            </div>
            <div class="modal-footer" style="margin-top: 30px">
                <button type="button" class="btn btn-default btn-clear col-xs-12 col-xs-offset-6 btnVeiculo" ng-click="closeConfiguracaoCarteiraModal()">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!--MODAL CADASTRAR TIPO DE LANÇAMENTO-->

<!--MODAL EXCLUSAO-->
<div class="modal fade" id="contaBancariaDeleteAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog ba__modal-loading" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
                    <span>Confirmação</span>
                    <!--<span>Editando tipo de lançamento</span>-->
                </h4>
            </div>
            <div class="modal-body ba__modal-body-loading">
                <form>
                    <div class="row ba__margin-top-30">
                        <h5 class="col-md-24 text-gray ba__margin-top-20"><b>Deseja realmente concluir esta ação?</b></h5>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-clear col-md-8 col-md-offset-7" ng-click="closeContaBancariaDeleteModal()">
                    cancelar
                </button>
                <button type="button" class="btn btn-danger-full col-md-8 col-md-offset-1 pull-right" ng-click="deleteContaBancaria()">
                    DELETAR
                </button>
            </div>
        </div>
    </div>
</div>
<!--MODAL EXCLUSÃO-->

<!--MODAL EXCLUSAO CARTEIRA-->
<div class="modal fade" id="configuracaoCarteiraDeleteAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog ba__modal-loading" role="document">
        <div class="modal-content">
            <div class="modal-header ba__no-padding-top">
                <h4 class="col-xs-21 modal-title Roboto-Thin ba__font-size-25">
                    <i class="icon-ba-attention text-center text-warning ba__margin-horizontal-5"></i>
                    <span>Confirmação</span>
                    <!--<span>Editando tipo de lançamento</span>-->
                </h4>
            </div>
            <div class="modal-body ba__modal-body-loading">
                <form>
                    <div class="row ba__margin-top-30">
                        <h5 class="col-md-24 text-gray ba__margin-top-20"><b>Deseja realmente concluir esta ação?</b></h5>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-clear col-md-8 col-md-offset-7" ng-click="closeConfiguracaoCarteiraDeleteModal()">
                    cancelar
                </button>
                <button type="button" class="btn btn-danger-full col-md-8 col-md-offset-1 pull-right" ng-click="deleteConfiguracaoCarteira()">
                    DELETAR
                </button>
            </div>
        </div>
    </div>
</div>
<!--MODAL EXCLUSÃO-->